In [57]:
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
df = pd.read_csv('data/US_counties_COVID19_health_weather_data.csv', delimiter=',')
df

In [ ]:
for column in df.columns:
    print (column)

In [ ]:
df2 = df[['county','state','fips','population_density_per_sqmi','percent_fair_or_poor_health',
          'percent_smokers','percent_adults_with_obesity','percent_physically_inactive','percent_uninsured',
          'primary_care_physicians_rate','percent_vaccinated','life_expectancy',
          'percent_adults_with_diabetes','percent_insufficient_sleep', 'percent_disabled',
          'other_primary_care_provider_rate','median_household_income',
          'segregation_index_2','percent_less_than_18_years_of_age','percent_65_and_over',
          'percent_not_proficient_in_english','percent_female','percent_rural','per_capita_income',
          'percent_below_poverty','percent_unemployed_CDC','percent_age_65_and_older',
          'percent_age_17_and_younger','percent_minorities','percent_multi_unit_housing',
          'date_stay_at_home_announced','date_stay_at_home_effective']]

In [ ]:
df3 = df2.drop_duplicates()

In [ ]:
df3

In [ ]:
df4 = df3.groupby(['county', 'state','fips', 'date_stay_at_home_announced','date_stay_at_home_effective']).mean()

df4.to_csv('data/first_cleaning.csv')

In [ ]:
df5 = pd.read_csv('first_cleaning.csv')

df5['fips'].value_counts()

In [ ]:
df6 = df5.drop_duplicates()

In [ ]:
df6['fips'].value_counts()

In [ ]:
df6.to_csv('second_cleaning.csv', index = False)

In [ ]:
test2_df['fips'].value_counts()

In [ ]:
test2_df.to_csv('data/for_spark')

In [ ]:
df['fips'].value_counts()

In [ ]:
df_cleaner.to_csv('data/df_first_clean', index = False)



# DAY 2 CLEANING

In [89]:
cdc_df = pd.read_csv('data/CDC_Data.csv')

In [90]:
chr_df = pd.read_csv('data/CHR_Data.csv')

In [91]:
cdc_df

,FIPS,STATE,ST_ABBR,COUNTY,AREA_SQMI,E_TOTPOP,Pop_Dens,perc_below_pov,perc_unemp,perc_65o,perc_17y,perc_disabled,perc_minority,perc_lim_eng,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_uninsured
0,35039,NEW MEXICO,NM,Rio Arriba,5860.869195,39307,6.706684,NaN,NaN,18.0,23.7,16.1,87.5,2.1,0.3,2.1,6.2,1.7,10.6
1,1001,ALABAMA,AL,Autauga,594.443459,55200,92.859967,15.4,4.2,14.6,24.2,19.3,25.0,0.8,3.8,1.4,5.6,1.0,7.1
2,1009,ALABAMA,AL,Blount,644.830460,57645,89.395591,14.4,4.1,17.8,23.4,14.2,12.9,1.7,0.9,1.6,4.2,0.9,11.0
3,1013,ALABAMA,AL,Butler,776.838201,20025,25.777569,23.5,6.7,19.0,22.8,17.7,48.1,0.5,1.3,1.8,7.8,1.6,10.2
4,1015,ALABAMA,AL,Calhoun,605.867251,115098,189.972308,18.6,8.8,16.8,21.9,20.8,27.5,1.0,3.7,1.7,5.8,2.7,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,TEXAS,TX,Duval,1793.476183,11355,6.331280,25.6,10.6,17.8,26.1,26.2,90.9,5.7,0.5,7.4,10.0,4.4,24.5
3138,48505,TEXAS,TX,Zapata,998.411980,14369,14.391855,39.5,11.0,13.9,33.6,17.3,95.7,24.4,0.6,18.1,7.9,0.2,29.3
3139,48507,TEXAS,TX,Zavala,1297.406535,12131,9.350192,34.8,8.4,13.7,29.5,23.3,95.0,8.0,1.7,5.6,14.4,1.6,18.4
3140,48127,TEXAS,TX,Dimmit,1328.884075,10663,8.024026,29.8,16.4,16.3,30.0,23.0,90.5,8.0,3.8,8.5,11.9,1.2,22.2
3141,48247,TEXAS,TX,Jim Hogg,1136.172598,5282,4.648942,27.4,11.5,17.6,31.4,26.0,93.0,5.5,0.8,7.7,11.5,0.5,18.8

In [92]:
state_county_df = cdc_df[['FIPS', 'STATE', 'ST_ABBR', 'COUNTY']]

In [99]:
state_county_df.to_csv('data/fips.csv', index = False)

In [93]:
cdc_df.drop(columns = ['STATE', 'ST_ABBR', 'COUNTY', 'AREA_SQMI', 'E_TOTPOP'], inplace = True)

In [94]:
cdc_df

,FIPS,Pop_Dens,perc_below_pov,perc_unemp,perc_65o,perc_17y,perc_disabled,perc_minority,perc_lim_eng,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_uninsured
0,35039,6.706684,NaN,NaN,18.0,23.7,16.1,87.5,2.1,0.3,2.1,6.2,1.7,10.6
1,1001,92.859967,15.4,4.2,14.6,24.2,19.3,25.0,0.8,3.8,1.4,5.6,1.0,7.1
2,1009,89.395591,14.4,4.1,17.8,23.4,14.2,12.9,1.7,0.9,1.6,4.2,0.9,11.0
3,1013,25.777569,23.5,6.7,19.0,22.8,17.7,48.1,0.5,1.3,1.8,7.8,1.6,10.2
4,1015,189.972308,18.6,8.8,16.8,21.9,20.8,27.5,1.0,3.7,1.7,5.8,2.7,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,6.331280,25.6,10.6,17.8,26.1,26.2,90.9,5.7,0.5,7.4,10.0,4.4,24.5
3138,48505,14.391855,39.5,11.0,13.9,33.6,17.3,95.7,24.4,0.6,18.1,7.9,0.2,29.3
3139,48507,9.350192,34.8,8.4,13.7,29.5,23.3,95.0,8.0,1.7,5.6,14.4,1.6,18.4
3140,48127,8.024026,29.8,16.4,16.3,30.0,23.0,90.5,8.0,3.8,8.5,11.9,1.2,22.2
3141,48247,4.648942,27.4,11.5,17.6,31.4,26.0,93.0,5.5,0.8,7.7,11.5,0.5,18.8

In [95]:
chr_df

,FIPS,State,County,perc_fair_poor_health,perc_smokers,perc_obese,perc_phys_inactive,perc_uninsured,pcp_rate,other_pcp_rate,...,perc_65_up,perc_afr_am,perc_nat_am_as,perc_asian,perc_nh_opi,perc_hisp,perc_nonhisp_white,perc_not_eng_prof,perc_fem,perc_rural
0,1001,Alabama,Autauga,18,19,36,31,9.0,45.0,29.0,...,14.7,19.0,0.5,1.1,0.1,2.7,75.0,0.8,51.3,42.0
1,1003,Alabama,Baldwin,18,17,29,25,12.0,73.0,44.0,...,19.7,9.0,0.8,1.1,0.1,4.4,83.2,0.8,51.5,42.3
2,1005,Alabama,Barbour,26,22,44,31,13.0,42.0,27.0,...,18.0,47.5,0.6,0.5,0.2,4.2,46.5,1.5,46.9,67.8
3,1007,Alabama,Bibb,20,20,38,38,12.0,53.0,75.0,...,15.4,21.6,0.4,0.2,0.1,2.5,74.4,0.4,46.4,68.4
4,1009,Alabama,Blount,21,20,36,29,14.0,21.0,12.0,...,18.0,1.4,0.6,0.3,0.1,9.1,87.5,1.9,50.6,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,15,18,31,26,12.0,34.0,54.0,...,10.5,1.1,1.5,0.8,0.2,16.1,79.6,2.1,48.2,10.9
3138,56039,Wyoming,Teton,12,14,13,12,15.0,121.0,108.0,...,13.5,0.6,0.9,1.2,0.1,15.1,81.5,3.6,48.4,46.4
3139,56041,Wyoming,Uinta,16,18,32,25,12.0,43.0,63.0,...,12.6,0.7,1.3,0.6,0.2,9.0,87.5,1.3,49.4,43.1
3140,56043,Wyoming,Washakie,16,16,27,25,17.0,36.0,61.0,...,20.9,0.5,1.7,0.8,0.1,13.9,82.6,0.7,49.7,36.0
3141,56045,Wyoming,Weston,13,17,32,23,14.0,55.0,55.0,...,18.7,0.6,1.5,0.6,0.0,4.0,91.9,1.1,47.3,54.5

In [96]:
chr_df.drop(columns = ['State', 'County'], inplace = True)

In [97]:
chr_df['pcp_rate_100k'] = (chr_df['pcp_rate']+chr_df['other_pcp_rate'])

In [ ]:
chr_df.drop(columns = ['pcp_rate', 'other_pcp_rate'], inplace = True)

In [ ]:
chr_df.rename(columns = {'perc_uninsured':'perc_unins'}, inplace = True)

In [ ]:
cdc_df.columns

In [ ]:
chr_df.columns

In [ ]:
df_sociohealth = pd.merge(cdc_df, chr_df, how='inner', on = 'FIPS')

In [ ]:
df_sociohealth.columns

In [ ]:
df_sociohealth['65_older'] = ((df_sociohealth['perc_65o']+df_sociohealth['perc_65_up'])/2)

In [ ]:
df_sociohealth['17_younger'] = ((df_sociohealth['perc_17y']+df_sociohealth['perc_18_down'])/2)

In [ ]:
df_sociohealth.drop(columns = ['65_up', 'perc_65o', 'perc_65_up', 'perc_17y', 'perc_18_down' ], inplace = True)

In [ ]:
df_sociohealth

In [ ]:
df_sociohealth['uninsured'] = ((df_sociohealth['perc_uninsured']+df_sociohealth['perc_unins'])/2)

In [ ]:
df_sociohealth.drop(columns = ['perc_uninsured', 'perc_unins' ], inplace = True)

In [ ]:
df_sociohealth['lim_eng'] = ((df_sociohealth['perc_lim_eng']+df_sociohealth['perc_not_eng_prof'])/2)

In [ ]:
df_sociohealth.drop(columns = ['perc_lim_eng', 'perc_not_eng_prof' ], inplace = True)

In [ ]:
df_sociohealth['unemployed'] = ((df_sociohealth['perc_unemployed']+df_sociohealth['perc_unemp'])/2)

In [ ]:
df_sociohealth.drop(columns = ['perc_unemployed', 'perc_unemp' ], inplace = True)

In [ ]:
df_sociohealth

In [ ]:
df_sociohealth.columns

In [ ]:
df_sociohealth.isnull().sum()

In [ ]:
df_sociohealth.drop(columns = 'bw_seg', inplace = True)

In [ ]:
column_list = ['perc_below_pov', 'perc_unemp','prev_hosp_rate_medicare', 'perc_unemployed', 'air_pollution',
               'age_adjusted_mortality','health_costs', 'med_house_income', 'wnw_seg', 'perc_rural',
               'pcp_rate_100k', 'uninsured']

In [ ]:
for column in column_list: 
    df_sociohealth[column].fillna(df_sociohealth[column].mean(skipna = True), inplace = True)

In [ ]:
df_sociohealth.columns

In [ ]:
df_sel_sh = df_sociohealth[['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_disabled',
       'perc_minority', 'percent_multiunit_housing', 'perc_overcrowded',
       'perc_no_vehicle', 'perc_group_quarters', 'perc_fair_poor_health',
       'perc_smokers', 'perc_obese', 'perc_phys_inactive',
       'prev_hosp_rate_medicare', 'air_pollution', 'unemployed',
       'age_adjusted_mortality', 'perc_diab', 'perc_insuf_sleep',
       'health_costs', 'med_house_income', 'wnw_seg', 'Population', 'perc_fem', 'perc_rural',
       'pcp_rate_100k', '65_older', '17_younger', 'uninsured', 'lim_eng']]

In [ ]:
df_sel_sh.to_csv('data/tues_clean1.csv', index= False)

In [ ]:
ec_df = pd.read_csv('data/2016_US_County_Level_Presidential_Results.csv')

In [ ]:
ec_df = ec_df[['combined_fips', 'per_dem', 'per_gop']]

In [ ]:
ec_df.rename(columns = {'combined_fips': 'fips'})

In [75]:
sho_df = pd.read_csv('data/Statewide-Stay-at-Home-Orders.csv')

In [76]:
sho_df.columns = sho_df.iloc[0]

In [77]:
sho_df.drop(index = [0, 52, 53], inplace = True)

In [78]:
sho_df['State'] = sho_df['State'].str.upper()

In [79]:
sho_df.rename(columns = {'State': 'STATE'}, inplace = True)

In [80]:
sho_df

0                  STATE Date Announced Effective Date
1                ALABAMA        April 3        April 4
2                 ALASKA       March 27       March 28
3                ARIZONA       March 30       March 31
4               ARKANSAS              -              -
5             CALIFORNIA       March 19       March 19
6               COLORADO       March 26       March 26
7            CONNECTICUT       March 20       March 23
8               DELAWARE       March 22       March 24
9   DISTRICT OF COLUMBIA       March 30        April 1
10               FLORIDA        April 1        April 3
11               GEORGIA        April 2        April 3
12               HAWAII        March 23       March 25
13                 IDAHO       March 25       March 25
14              ILLINOIS       March 20       March 21
15               INDIANA       March 23       March 24
16                  IOWA              -              -
17                KANSAS       March 28       March 30
18              KENTUCKY       March 22       March 26
19             LOUISIANA       March 22       March 23
20                 MAINE       March 31        April 2
21              MARYLAND       March 30       March 30
22         MASSACHUSETTS       March 23       March 24
23              MICHIGAN       March 23       March 24
24             MINNESOTA       March 25       March 27
25           MISSISSIPPI       March 31        April 3
26              MISSOURI        April 3        April 6
27               MONTANA       March 26       March 28
28              NEBRASKA              -              -
29                NEVADA        April 1        April 1
30         NEW HAMPSHIRE       March 26       March 27
31            NEW JERSEY       March 20       March 21
32            NEW MEXICO       March 23       March 24
33              NEW YORK       March 20       March 22
34        NORTH CAROLINA       March 27       March 30
35          NORTH DAKOTA              -              -
36                  OHIO       March 22       March 23
37              OKLAHOMA              -              -
38                OREGON       March 23       March 23
39          PENNSYLVANIA       March 23        April 1
40          RHODE ISLAND       March 28       March 28
41        SOUTH CAROLINA              -              -
42          SOUTH DAKOTA              -              -
43             TENNESSEE       March 30       March 31
44                 TEXAS       March 31        April 2
45                  UTAH              -              -
46               VERMONT       March 24       March 24
47              VIRGINIA       March 30       March 30
48            WASHINGTON       March 23       March 23
49         WEST VIRGINIA       March 23       March 24
50             WISCONSIN       March 24       March 25
51               WYOMING              -              -

In [179]:
state_county_df

       FIPS       STATE ST_ABBR      COUNTY
0     35039  NEW MEXICO      NM  Rio Arriba
1      1001     ALABAMA      AL     Autauga
2      1009     ALABAMA      AL      Blount
3      1013     ALABAMA      AL      Butler
4      1015     ALABAMA      AL     Calhoun
...     ...         ...     ...         ...
3137  48131       TEXAS      TX       Duval
3138  48505       TEXAS      TX      Zapata
3139  48507       TEXAS      TX      Zavala
3140  48127       TEXAS      TX      Dimmit
3141  48247       TEXAS      TX    Jim Hogg

[3142 rows x 4 columns]

In [ ]:
sc_sh_df = pd.merge(state_county_df, sho_df, how='left', on = 'STATE')

In [ ]:
sc_sh_df

print(sc_sh_df)
is_NaN = sc_sh_df.isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = sc_sg_df[row_has_NaN]
print(rows_with_NaN)

In [ ]:
sc_sh_df.to_csv('data/stay_home.csv', index = False)

In [40]:
sc_sh_df = pd.read_csv('data/stay_home.csv')

In [41]:
announced = sc_sh_df['Date Announced'].to_list()
effective = sc_sh_df['Effective Date'].to_list()

In [50]:
announced

['3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '3-Apr',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '27-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '30-Mar',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '19-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '26-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 '30-Mar',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '1-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '2-Apr',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '25-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '20-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '23-Mar',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '28-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 '22-Mar',
 ...]

In [64]:
def convert_dt(str_list):
    new_dates = []
    for d in str_list:
        if d == '-':
            new_dates.append(dt.date.today())
        elif d[2] == 'A':
            d = '2020-04-0'+d[0]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        elif d[3] == 'A':
            d = '2020-04-' + d[0:1]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        elif d[2] == 'M':
            d = '2020-03-0'+d[0]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        elif d[3] == 'M':
            d = '2020-03-' + d[0:1]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        else:
            new_dates.append('np.nan')
    return new_dates

In [65]:
announced_dt = convert_dt(announced)
effective_dt = convert_dt(effective)

In [66]:
announced_dt

['2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 '2020-03-03',
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-01',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-03',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 13),
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 '2020-03-02',
 ...]

In [ ]:
for d in

In [8]:
sc_sh_df.dtypes

FIPS               int64
STATE             object
ST_ABBR           object
COUNTY            object
Date Announced    object
Effective Date    object
dtype: object

In [12]:
today = dt.date.today()

print(today)

2020-05-13

In [23]:
sc_sh_df.replace({'-': np.nan}, inplace = True)

In [26]:
sc_sh_df.fillna(dt.date.today(), inplace = True)

In [28]:
sc_sh_df

       FIPS    STATE ST_ABBR      COUNTY Date Announced Effective Date
0      1001  ALABAMA      AL     Autauga          3-Apr          4-Apr
1      1003  ALABAMA      AL     Baldwin          3-Apr          4-Apr
2      1005  ALABAMA      AL     Barbour          3-Apr          4-Apr
3      1007  ALABAMA      AL        Bibb          3-Apr          4-Apr
4      1009  ALABAMA      AL      Blount          3-Apr          4-Apr
...     ...      ...     ...         ...            ...            ...
3137  56037  WYOMING      WY  Sweetwater     2020-05-13     2020-05-13
3138  56039  WYOMING      WY       Teton     2020-05-13     2020-05-13
3139  56041  WYOMING      WY       Uinta     2020-05-13     2020-05-13
3140  56043  WYOMING      WY    Washakie     2020-05-13     2020-05-13
3141  56045  WYOMING      WY      Weston     2020-05-13     2020-05-13

[3142 rows x 6 columns]

In [67]:
sc_sh_df['date_announced'] = announced_dt
sc_sh_df['date_effective'] = effective_dt

In [69]:
sc_sh_df

,FIPS,STATE,ST_ABBR,COUNTY,Date Announced,Effective Date,date_announced,date_effective
0,1001,ALABAMA,AL,Autauga,3-Apr,4-Apr,2020-04-03,2020-04-04
1,1003,ALABAMA,AL,Baldwin,3-Apr,4-Apr,2020-04-03,2020-04-04
2,1005,ALABAMA,AL,Barbour,3-Apr,4-Apr,2020-04-03,2020-04-04
3,1007,ALABAMA,AL,Bibb,3-Apr,4-Apr,2020-04-03,2020-04-04
4,1009,ALABAMA,AL,Blount,3-Apr,4-Apr,2020-04-03,2020-04-04
...,...,...,...,...,...,...,...,...
3137,56037,WYOMING,WY,Sweetwater,-,-,2020-05-13,2020-05-13
3138,56039,WYOMING,WY,Teton,-,-,2020-05-13,2020-05-13
3139,56041,WYOMING,WY,Uinta,-,-,2020-05-13,2020-05-13
3140,56043,WYOMING,WY,Washakie,-,-,2020-05-13,2020-05-13
3141,56045,WYOMING,WY,Weston,-,-,2020-05-13,2020-05-13

In [70]:
sc_sh_df.isnull().sum()

FIPS              0
STATE             0
ST_ABBR           0
COUNTY            0
Date Announced    0
Effective Date    0
date_announced    0
date_effective    0
dtype: int64

In [73]:
sh_df = sc_sh_df[['FIPS', 'STATE', 'date_announced', 'date_effective']]

In [74]:
sh_df

       FIPS    STATE date_announced date_effective
0      1001  ALABAMA     2020-04-03     2020-04-04
1      1003  ALABAMA     2020-04-03     2020-04-04
2      1005  ALABAMA     2020-04-03     2020-04-04
3      1007  ALABAMA     2020-04-03     2020-04-04
4      1009  ALABAMA     2020-04-03     2020-04-04
...     ...      ...            ...            ...
3137  56037  WYOMING     2020-05-13     2020-05-13
3138  56039  WYOMING     2020-05-13     2020-05-13
3139  56041  WYOMING     2020-05-13     2020-05-13
3140  56043  WYOMING     2020-05-13     2020-05-13
3141  56045  WYOMING     2020-05-13     2020-05-13

[3142 rows x 4 columns]

In [82]:
states = sho_df['STATE'].to_list()

In [202]:
states[20:]

['MARYLAND',
 'MASSACHUSETTS',
 'MICHIGAN',
 'MINNESOTA',
 'MISSISSIPPI',
 'MISSOURI',
 'MONTANA',
 'NEBRASKA',
 'NEVADA',
 'NEW HAMPSHIRE',
 'NEW JERSEY',
 'NEW MEXICO',
 'NEW YORK',
 'NORTH CAROLINA',
 'NORTH DAKOTA',
 'OHIO',
 'OKLAHOMA',
 'OREGON',
 'PENNSYLVANIA',
 'RHODE ISLAND',
 'SOUTH CAROLINA',
 'SOUTH DAKOTA',
 'TENNESSEE',
 'TEXAS',
 'UTAH',
 'VERMONT',
 'VIRGINIA',
 'WASHINGTON',
 'WEST VIRGINIA',
 'WISCONSIN',
 'WYOMING']

In [217]:
bans_lifted = ['2020-04-30', '2020-04-21', '2020-05-16', 'no ban', 'no plan', 
               '2020-04-26',  '2020-05-20', '2020-05-15', '2020-06-08', '2020-04-30',
              '2020-04-30', '2020-05-31', '2020-04-30', '2020-05-30', '2020-05-05', 
               'no ban', '2020-05-03', 'no plan',  '2020-05-14', '2020-05-30',
               'no plan', '2020-05-18', '2020-05-28', '2020-05-18', '2020-04-27',
               '2020-05-03', '2020-04-26', 'no ban', '2020-05-15', '2020-05-31',  
               'no plan', '2020-05-15', '2020-05-15', '2020-05-08', 'no ban', '2020-05-29',
               'no ban', 'no plan', '2020-05-08', '2020-05-08', '2020-05-09', 
               'no ban', '2020-04-30', '2020-04-30', 'no ban', '2020-05-15', 
               '2020-06-10', '2020-05-31', '2020-05-03', '2020-05-26', 'no ban', ]

In [218]:
reopening = ['2020-04-30', '2020-04-24', '2020-05-16', '2020-05-06', '2020-05-08', 
             '2020-04-27', '2020-05-20', '2020-06-01', 'no plan', '2020-05-01',
             '2020-04-24', '2020-05-07', '2020-05-01', 'no plan', '2020-05-05',
             '2020-05-01', '2020-05-04', '2020-05-11', '2020-05-15', '2020-05-11',
             'no plan', '2020-05-18', '2020-05-07', '2020-04-27', '2020-04-27', 
             '2020-05-04', '2020-04-27', '2020-05-04', '2020-05-09', '2020-05-04',  
             'no plan', 'no plan', '2020-05-15', '2020-05-08', '2020-05-01', '2020-05-04',
             '2020-05-01', '2020-05-15', '2020-05-08', '2020-05-09', '2020-05-04',
             'no ban', '2020-04-27', '2020-05-01', '2020-05-01', '2020-04-20',
             '2020-05-15', '2020-05-05', '2020-05-04', '2020-04-29', '2020-05-01']

In [219]:
def convert_dt2(str_list):
    new_dates = []
    for d in str_list:
        if d == 'no plan':
            d = '2020-07-31'
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
            
        elif d == 'no ban':
            new_dates.append(np.nan)
        elif d != 'no' and d != np.nan: 
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)

        else:
            new_dates.append('exception')
    return new_dates

In [222]:
len(convert_dt2(bans_lifted))

TypeError: 'list' object is not callable

In [206]:
len(reopening)

51

In [88]:
cases_deaths_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [130]:
target_date = cases_deaths_df['date'][-1:].values
target_date = target_date[0]

In [131]:
current_target = cases_deaths_df.loc[cases_deaths_df['date'] == target_date]

In [132]:
current_target.to_csv('data/current_target.csv', index = False)

In [133]:
current_target

              date      county    state     fips  cases  deaths
135569  2020-05-12     Autauga  Alabama   1001.0     91       4
135570  2020-05-12     Baldwin  Alabama   1003.0    227       7
135571  2020-05-12     Barbour  Alabama   1005.0     67       1
135572  2020-05-12        Bibb  Alabama   1007.0     46       1
135573  2020-05-12      Blount  Alabama   1009.0     45       0
...            ...         ...      ...      ...    ...     ...
138479  2020-05-12    Sublette  Wyoming  56035.0      3       0
138480  2020-05-12  Sweetwater  Wyoming  56037.0     20       0
138481  2020-05-12       Teton  Wyoming  56039.0     98       1
138482  2020-05-12       Uinta  Wyoming  56041.0      9       0
138483  2020-05-12    Washakie  Wyoming  56043.0      7       0

[2915 rows x 6 columns]

In [138]:
jh_time= pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")

In [139]:
jh_time

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,145,145,145,149,149,151,151,151,151,152
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,14,14,14,15,15,15,16,16,19,19
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,1808,1843,1924,1968,2031,2156,2173,2198,2256,2299
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,66,66,66,66,66,68,68,69,69,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,24,25,25,26,27,27,27,28,28,28
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,11,11,12,12,12,13,13,13,14,13
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,111,119,121,128,132,138,155,164,170,167
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,14,14,14,14,14,14,16,16,16,16
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,167,167,173,173,173,184,188,194,197,207

In [144]:
jh_time1 =  jh_time.loc[jh_time['FIPS'] > 1000]

In [172]:
jh_time1['Country_Region'].value_counts()

US    3246
Name: Country_Region, dtype: int64

In [164]:
 #   jh_time2 = jh_time1.loc[jh_time['Province_State'] != 'Grand Princess']

In [170]:
jh_time1

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,48,53,53,58,61,67,68,74,84,91
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,187,188,189,196,205,208,216,222,224,227
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,45,45,47,47,51,53,58,59,61,67
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,43,42,43,43,44,44,45,46,46,46
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,40,40,40,42,44,44,44,44,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,84090053,US,USA,840,90053.0,Unassigned,Washington,US,0.000000,0.000000,...,63,52,37,61,53,69,56,40,38,57
3249,84090054,US,USA,840,90054.0,Unassigned,West Virginia,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3250,84090055,US,USA,840,90055.0,Unassigned,Wisconsin,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3251,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3252,84099999,US,USA,840,99999.0,NaN,Grand Princess,US,0.000000,0.000000,...,103,103,103,103,103,103,103,103,103,103

In [177]:
jh_time1.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'Country_Region', 'Lat', 'Long_'], inplace = True)

KeyError: "['UID' 'iso2' 'iso3' 'code3' 'Country_Region' 'Lat' 'Long_'] not found in axis"

In [178]:
jh_time1

,FIPS,Admin2,Province_State,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
5,1001.0,Autauga,Alabama,"Autauga, Alabama, US",0,0,0,0,0,0,...,48,53,53,58,61,67,68,74,84,91
6,1003.0,Baldwin,Alabama,"Baldwin, Alabama, US",0,0,0,0,0,0,...,187,188,189,196,205,208,216,222,224,227
7,1005.0,Barbour,Alabama,"Barbour, Alabama, US",0,0,0,0,0,0,...,45,45,47,47,51,53,58,59,61,67
8,1007.0,Bibb,Alabama,"Bibb, Alabama, US",0,0,0,0,0,0,...,43,42,43,43,44,44,45,46,46,46
9,1009.0,Blount,Alabama,"Blount, Alabama, US",0,0,0,0,0,0,...,40,40,40,42,44,44,44,44,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,90053.0,Unassigned,Washington,"Unassigned, Washington, US",0,0,0,0,0,0,...,63,52,37,61,53,69,56,40,38,57
3249,90054.0,Unassigned,West Virginia,"Unassigned, West Virginia, US",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3250,90055.0,Unassigned,Wisconsin,"Unassigned, Wisconsin, US",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3251,90056.0,Unassigned,Wyoming,"Unassigned, Wyoming, US",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3252,99999.0,NaN,Grand Princess,"Grand Princess, US",0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103

In [183]:
clean_jh_time_df = pd.merge(sh_df, jh_time1, how = 'left', on = 'FIPS' )

In [187]:
clean_jh_time_df.drop(columns = ['date_announced', 'date_effective', 'STATE', 'Admin2', 'Province_State', 
                                 'Combined_Key'], inplace = True)

In [190]:
jh_confirmed_ts = clean_jh_time_df

jh_confirmed_ts

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,1001,0,0,0,0,0,0,0,0,0,...,48,53,53,58,61,67,68,74,84,91
1,1003,0,0,0,0,0,0,0,0,0,...,187,188,189,196,205,208,216,222,224,227
2,1005,0,0,0,0,0,0,0,0,0,...,45,45,47,47,51,53,58,59,61,67
3,1007,0,0,0,0,0,0,0,0,0,...,43,42,43,43,44,44,45,46,46,46
4,1009,0,0,0,0,0,0,0,0,0,...,40,40,40,42,44,44,44,44,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0,0,0,0,0,0,0,0,0,...,18,18,18,19,19,19,19,19,20,20
3138,56039,0,0,0,0,0,0,0,0,0,...,98,98,98,98,98,98,98,98,98,98
3139,56041,0,0,0,0,0,0,0,0,0,...,8,8,8,8,8,9,9,9,9,9
3140,56043,0,0,0,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
3141,56045,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0