In [4]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('data/fips.csv')

In [3]:
df

       FIPS       STATE ST_ABBR      COUNTY
0     35039  NEW MEXICO      NM  Rio Arriba
1      1001     ALABAMA      AL     Autauga
2      1009     ALABAMA      AL      Blount
3      1013     ALABAMA      AL      Butler
4      1015     ALABAMA      AL     Calhoun
...     ...         ...     ...         ...
3137  48131       TEXAS      TX       Duval
3138  48505       TEXAS      TX      Zapata
3139  48507       TEXAS      TX      Zavala
3140  48127       TEXAS      TX      Dimmit
3141  48247       TEXAS      TX    Jim Hogg

[3142 rows x 4 columns]

In [5]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2019, 1, 1)
end_date = date(2019, 1, 2)

for single_date in daterange(start_date, end_date):
    path_to_file = "a" + single_date.strftime("%Y/%m/%d") + "/"
    df1 = pd.read_csv('path_to_file')
    df1 = df1[['FIPS', 'Confirmed', 'Deaths', 'Recovered', 'Active']]
    df1 = df1.rename(columns = {'Confirmed' : d + '_confirmed', 'Deaths': d + '_deaths', 'Recovered': d + '_recovered', 'Active': d+'_active'})
    pd.merge (df, df1, how = 'left', on = 'FIPS')

NameError: name 'date' is not defined