In [1]:
import pyspark as ps
spark = (ps.sql.SparkSession.builder 
        .master("local[4]") 
        .appName("sparkSQL exercise") 
        .getOrCreate()
        )
sc = spark.sparkContext

In [245]:
import json             # for parsing json formatted data
import csv              # for the split_csvstring function from Part 3.2.2
try:                    # Python 3 compatibility
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import os  
import numpy as np
import pandas as pd

from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

from datetime import datetime

from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [21]:
df = spark.read.csv('data/US_counties_COVID19_health_weather_data.csv',
                   header = True)

In [273]:
df.take(1)

Py4JJavaError: An error occurred while calling z:org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 146.0 failed 1 times, most recent failure: Lost task 0.0 in stage 146.0 (TID 191, localhost): java.io.FileNotFoundException: File file:/home/jovyan/work/Desktop/Galvanize/Capstones/COVID19_Machine_Learning/data/US_counties_COVID19_health_weather_data.csv does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:119)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:91)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$4.apply(SparkPlan.scala:246)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$4.apply(SparkPlan.scala:240)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:784)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:784)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:70)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:615)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1450)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1438)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1437)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1437)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1659)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1618)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1607)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:632)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1871)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1884)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1897)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:347)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply$mcI$sp(EvaluatePython.scala:41)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2532)
	at org.apache.spark.sql.execution.python.EvaluatePython$.takeAndServe(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe(EvaluatePython.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:606)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:128)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:211)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.io.FileNotFoundException: File file:/home/jovyan/work/Desktop/Galvanize/Capstones/COVID19_Machine_Learning/data/US_counties_COVID19_health_weather_data.csv does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:119)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:91)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$4.apply(SparkPlan.scala:246)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$4.apply(SparkPlan.scala:240)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:784)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:784)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:70)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:615)
	... 1 more

In [270]:
interested_list = ['date','county','state','fips','population_density_per_sqmi','percent_fair_or_poor_health',
                   'percent_smokers','percent_adults_with_obesity','percent_physically_inactive',
                   'percent_with_access_to_exercise_opportunities','percent_uninsured',
                   'primary_care_physicians_rate','percent_vaccinated','life_expectancy',
                   'percent_adults_with_diabetes','percent_limited_access_to_healthy_foods',
                   'percent_insufficient_sleep','percent_uninsured_2','percent_uninsured_3',
                   'other_primary_care_provider_rate','median_household_income','segregation_index',
                   'segregation_index_2','percent_less_than_18_years_of_age',
                   'percent_65_and_over','percent_black','percent_american_indian_alaska_native','percent_asian',
                   'percent_native_hawaiian_other_pacific_islander','percent_hispanic','percent_non_hispanic_white',
                   'percent_not_proficient_in_english','percent_female','percent_rural','per_capita_income',
                   'percent_below_poverty','percent_unemployed_CDC','percent_age_65_and_older',
                   'percent_age_17_and_younger','percent_minorities', 'percent_disabled'
                   'percent_multi_unit_housing', 'km_to_closest_station',
                   'station_name','mean_temp','date_stay_at_home_announced','date_stay_at_home_effective']

count_col = len(interested_list)
count_col

46

In [271]:
interested_list = ['date','county','state','fips','population_density_per_sqmi','percent_fair_or_poor_health',
                   'percent_smokers','percent_adults_with_obesity','percent_physically_inactive',
                   'percent_uninsured','primary_care_physicians_rate','percent_vaccinated','life_expectancy',
                   'percent_adults_with_diabetes','percent_insufficient_sleep',
                   'other_primary_care_provider_rate','median_household_income',
                   'segregation_index_2','percent_less_than_18_years_of_age','percent_65_and_over',
                   'percent_not_proficient_in_english','percent_female','percent_rural','per_capita_income',
                   'percent_below_poverty','percent_age_65_and_older', 'percent_disabled'
                   'percent_age_17_and_younger','percent_minorities',
                   'percent_multi_unit_housing', 'mean_temp',
                   'date_stay_at_home_announced','date_stay_at_home_effective']

count_col = len(interested_list)
count_col

32

In [272]:
def string_to_list(lst):
    string = ''
    for i in lst[0:(len(lst)-1)]:
        string += i
        string += ', '
    for i in lst[len(lst)-1]:
        string += i
    return string

string_to_list(interested_list)

'date, county, state, fips, population_density_per_sqmi, percent_fair_or_poor_health, percent_smokers, percent_adults_with_obesity, percent_physically_inactive, percent_uninsured, primary_care_physicians_rate, percent_vaccinated, life_expectancy, percent_adults_with_diabetes, percent_insufficient_sleep, other_primary_care_provider_rate, median_household_income, segregation_index_2, percent_less_than_18_years_of_age, percent_65_and_over, percent_not_proficient_in_english, percent_female, percent_rural, per_capita_income, percent_below_poverty, percent_age_65_and_older, percent_disabledpercent_age_17_and_younger, percent_minorities, percent_multi_unit_housing, mean_temp, date_stay_at_home_announced, date_stay_at_home_effective'

In [23]:
df1 = spark.read.csv('data/US_counties_COVID19_health_weather_data.csv')

df.createOrReplaceTempView('covid1')

In [40]:
full_query = '''
SELECT date, county, state, fips, population_density_per_sqmi, percent_fair_or_poor_health, 
percent_smokers, percent_adults_with_obesity, percent_physically_inactive, 
percent_with_access_to_exercise_opportunities, percent_uninsured, primary_care_physicians_rate, 
percent_vaccinated, life_expectancy, percent_adults_with_diabetes, percent_disabled,
percent_limited_access_to_healthy_foods, percent_insufficient_sleep, percent_uninsured_2, 
percent_uninsured_3, other_primary_care_provider_rate, median_household_income, segregation_index,
segregation_index_2, percent_less_than_18_years_of_age, percent_65_and_over, percent_black, 
percent_american_indian_alaska_native, percent_asian, percent_native_hawaiian_other_pacific_islander, 
percent_hispanic, percent_non_hispanic_white, percent_not_proficient_in_english, percent_female, 
percent_rural, per_capita_income, percent_below_poverty, percent_unemployed_CDC, percent_age_65_and_older, 
percent_age_17_and_younger, percent_minorities, percent_multi_unit_housing, percent_overcrowding, 
km_to_closest_station, station_name, mean_temp, date_stay_at_home_announced, date_stay_at_home_effective
FROM covid1
'''

county = date, county, state, fips


fips +
 
financial = per_capita_income, percent_below_poverty, percent_unemployed_CDC, median_household_income,

age = percent_less_than_18_years_of_age, percent_65_and_over, percent_age_65_and_older, percent_age_17_and_younger,

population density = population_density_per_sqmi, percent_rural, percent_multi_unit_housing, percent_overcrowding, 

access = percent_uninsured, primary_care_physicians_rate,  percent_uninsured_2, 
percent_uninsured_3, other_primary_care_provider_rate, percent_not_proficient_in_english

health = percent_vaccinated, percent_adults_with_diabetes, percent_physically_inactive, percent_adults_with_obesity, 
percent_smokers, percent_limited_access_to_healthy_foods, percent_insufficient_sleep, life_expectancy, percent_with_access_to_exercise_opportunities, percent_fair_or_poor_health, 

demographic = percent_black, percent_american_indian_alaska_native, percent_asian, percent_native_hawaiian_other_pacific_islander, percent_hispanic, percent_non_hispanic_white, percent_female, segregation_index, segregation_index_2, percent_minorities

weather = km_to_closest_station, station_name, mean_temp, 

stay at home = date_stay_at_home_announced, date_stay_at_home_effective

In [198]:
clean_df1 = spark.sql(full_query)

In [254]:
county_query = 'SELECT date, county, state, fips FROM covid1'

county_df = spark.sql(county_query)

county_df.createOrReplaceTempView('county')

county_df.show()

+----------+-----------+----------+-----+
|      date|     county|     state| fips|
+----------+-----------+----------+-----+
|2020-01-21|  Snohomish|Washington|53061|
|2020-01-22|  Snohomish|Washington|53061|
|2020-01-23|  Snohomish|Washington|53061|
|2020-01-24|       Cook|  Illinois|17031|
|2020-01-24|  Snohomish|Washington|53061|
|2020-01-25|     Orange|California|06059|
|2020-01-25|       Cook|  Illinois|17031|
|2020-01-25|  Snohomish|Washington|53061|
|2020-01-26|   Maricopa|   Arizona|04013|
|2020-01-26|Los Angeles|California|06037|
|2020-01-26|     Orange|California|06059|
|2020-01-26|       Cook|  Illinois|17031|
|2020-01-26|  Snohomish|Washington|53061|
|2020-01-27|   Maricopa|   Arizona|04013|
|2020-01-27|Los Angeles|California|06037|
|2020-01-27|     Orange|California|06059|
|2020-01-27|       Cook|  Illinois|17031|
|2020-01-27|  Snohomish|Washington|53061|
|2020-01-28|   Maricopa|   Arizona|04013|
|2020-01-28|Los Angeles|California|06037|
+----------+-----------+----------+-----+
only showing top 20 rows

In [256]:
financial_query = '''
SELECT fips, 
percent_below_poverty as perc_below_poverty_line, 
percent_unemployed_CDC as perc_unemployed, median_household_income as med_household_income
FROM covid1
'''

financial_df = spark.sql(financial_query)

financial_df.createOrReplaceTempView('financial')

financial_df.show()

+-----+-----------------------+---------------+--------------------+
| fips|perc_below_poverty_line|perc_unemployed|med_household_income|
+-----+-----------------------+---------------+--------------------+
|53061|                    9.3|            6.2|               87096|
|53061|                    9.3|            6.2|               87096|
|53061|                    9.3|            6.2|               87096|
|17031|                   16.7|            9.7|               63347|
|53061|                    9.3|            6.2|               87096|
|06059|                   12.5|            6.8|               89373|
|17031|                   16.7|            9.7|               63347|
|53061|                    9.3|            6.2|               87096|
|04013|                   16.5|            6.8|               65234|
|06037|                   17.8|            8.9|               67986|
|06059|                   12.5|            6.8|               89373|
|17031|                   16.7|            9.7|               63347|
|53061|                    9.3|            6.2|               87096|
|04013|                   16.5|            6.8|               65234|
|06037|                   17.8|            8.9|               67986|
|06059|                   12.5|            6.8|               89373|
|17031|                   16.7|            9.7|               63347|
|53061|                    9.3|            6.2|               87096|
|04013|                   16.5|            6.8|               65234|
|06037|                   17.8|            8.9|               67986|
+-----+-----------------------+---------------+--------------------+
only showing top 20 rows

In [176]:
age_query = '''
SELECT fips, 
percent_less_than_18_years_of_age AS p_less_than_18, 
percent_age_17_and_younger as p_17_younger,
percent_65_and_over as perc_65_and_over,
percent_age_65_and_older as perc_65_and_older
FROM covid1
'''

age_df = spark.sql(age_query)
age_df.show()

+-----+--------------+------------+----------------+-----------------+
| fips|p_less_than_18|p_17_younger|perc_65_and_over|perc_65_and_older|
+-----+--------------+------------+----------------+-----------------+
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|17031|  21.806264384|        22.7|      14.6350357|               13|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|06059|  21.933302532|          23|    14.764335361|             13.2|
|17031|  21.806264384|        22.7|      14.6350357|               13|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|04013|  23.868284021|          25|    15.173695436|             13.8|
|06037|  21.660374065|        22.8|     13.61589777|             12.2|
|06059|  21.933302532|          23|    14.764335361|             13.2|
|17031|  21.806264384|        22.7|      14.6350357|               13|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|04013|  23.868284021|          25|    15.173695436|             13.8|
|06037|  21.660374065|        22.8|     13.61589777|             12.2|
|06059|  21.933302532|          23|    14.764335361|             13.2|
|17031|  21.806264384|        22.7|      14.6350357|               13|
|53061|  22.646554612|        23.2|    13.470102503|             12.1|
|04013|  23.868284021|          25|    15.173695436|             13.8|
|06037|  21.660374065|        22.8|     13.61589777|             12.2|
+-----+--------------+------------+----------------+-----------------+
only showing top 20 rows

In [177]:
youngerColumns = [col('p_less_than_18'), col('p_17_younger')]
averageFunc = sum(x for x in youngerColumns)/len(youngerColumns)
age_df = age_df.withColumn('p_17_younger', averageFunc)

In [178]:
olderColumns = [col('perc_65_and_over'), col('perc_65_and_older')]
averageFunc = sum(x for x in olderColumns)/len(olderColumns)
age_df = age_df.withColumn('p_65_older', averageFunc)

In [179]:
age_df.show()

+-----+--------------+------------------+----------------+-----------------+-------------+
| fips|p_less_than_18|      p_17_younger|perc_65_and_over|perc_65_and_older|   p_65_older|
+-----+--------------+------------------+----------------+-----------------+-------------+
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|17031|  21.806264384|      22.253132192|      14.6350357|               13|  13.81751785|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|06059|  21.933302532|      22.466651266|    14.764335361|             13.2|13.9821676805|
|17031|  21.806264384|      22.253132192|      14.6350357|               13|  13.81751785|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|04013|  23.868284021|     24.4341420105|    15.173695436|             13.8| 14.486847718|
|06037|  21.660374065|22.230187032499998|     13.61589777|             12.2| 12.907948885|
|06059|  21.933302532|      22.466651266|    14.764335361|             13.2|13.9821676805|
|17031|  21.806264384|      22.253132192|      14.6350357|               13|  13.81751785|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|04013|  23.868284021|     24.4341420105|    15.173695436|             13.8| 14.486847718|
|06037|  21.660374065|22.230187032499998|     13.61589777|             12.2| 12.907948885|
|06059|  21.933302532|      22.466651266|    14.764335361|             13.2|13.9821676805|
|17031|  21.806264384|      22.253132192|      14.6350357|               13|  13.81751785|
|53061|  22.646554612|      22.923277306|    13.470102503|             12.1|12.7850512515|
|04013|  23.868284021|     24.4341420105|    15.173695436|             13.8| 14.486847718|
|06037|  21.660374065|22.230187032499998|     13.61589777|             12.2| 12.907948885|
+-----+--------------+------------------+----------------+-----------------+-------------+
only showing top 20 rows

In [180]:
age_df.createOrReplaceTempView('ages')

In [182]:
age2_query = '''
SELECT fips, p_17_younger, p_65_older
FROM ages
'''

age_df = spark.sql(age2_query)
age_df.show()

+-----+------------------+-------------+
| fips|      p_17_younger|   p_65_older|
+-----+------------------+-------------+
|53061|      22.923277306|12.7850512515|
|53061|      22.923277306|12.7850512515|
|53061|      22.923277306|12.7850512515|
|17031|      22.253132192|  13.81751785|
|53061|      22.923277306|12.7850512515|
|06059|      22.466651266|13.9821676805|
|17031|      22.253132192|  13.81751785|
|53061|      22.923277306|12.7850512515|
|04013|     24.4341420105| 14.486847718|
|06037|22.230187032499998| 12.907948885|
|06059|      22.466651266|13.9821676805|
|17031|      22.253132192|  13.81751785|
|53061|      22.923277306|12.7850512515|
|04013|     24.4341420105| 14.486847718|
|06037|22.230187032499998| 12.907948885|
|06059|      22.466651266|13.9821676805|
|17031|      22.253132192|  13.81751785|
|53061|      22.923277306|12.7850512515|
|04013|     24.4341420105| 14.486847718|
|06037|22.230187032499998| 12.907948885|
+-----+------------------+-------------+
only showing top 20 rows

In [257]:
age_df.createOrReplaceTempView('ages')

In [196]:
pop_dens_query = '''
SELECT  fips, 
population_density_per_sqmi as pop_density_per_sqmi, percent_rural as p_rural,
percent_multi_unit_housing as multi_unit_housing
FROM covid1
'''

pop_dens_df = spark.sql(pop_dens_query)

pop_dens_df.createOrReplaceTempView('pop_dens')
pop_dens_df.show()

+-----+--------------------+------------+------------------+
| fips|pop_density_per_sqmi|     p_rural|p_multi_unit_house|
+-----+--------------------+------------+------------------+
|53061|   363.5861592633876|10.819460702|              14.6|
|53061|   363.5861592633876|10.819460702|              14.6|
|53061|   363.5861592633876|10.819460702|              14.6|
|17031|   5531.878538800693|0.0452963852|                23|
|53061|   363.5861592633876|10.819460702|              14.6|
|06059|   3961.705072130077|0.1433444333|              18.7|
|17031|   5531.878538800693|0.0452963852|                23|
|53061|   363.5861592633876|10.819460702|              14.6|
|04013|   444.4467438038513|2.3637996949|              14.6|
|06037|  2478.2406446761356|0.6052183584|              26.5|
|06059|   3961.705072130077|0.1433444333|              18.7|
|17031|   5531.878538800693|0.0452963852|                23|
|53061|   363.5861592633876|10.819460702|              14.6|
|04013|   444.4467438038513|2.3637996949|              14.6|
|06037|  2478.2406446761356|0.6052183584|              26.5|
|06059|   3961.705072130077|0.1433444333|              18.7|
|17031|   5531.878538800693|0.0452963852|                23|
|53061|   363.5861592633876|10.819460702|              14.6|
|04013|   444.4467438038513|2.3637996949|              14.6|
|06037|  2478.2406446761356|0.6052183584|              26.5|
+-----+--------------------+------------+------------------+
only showing top 20 rows

In [202]:
access_query = '''
SELECT fips, 
percent_uninsured as p_unins, primary_care_physicians_rate as pcp_phys_r, 
other_primary_care_provider_rate as pcp_other, 
percent_not_proficient_in_english as p_not_eng_prof
FROM covid1
'''

access_df = spark.sql(access_query)
access_df.show()

+-----+------------+----------+---------+--------------+
| fips|     p_unins|pcp_phys_r|pcp_other|p_not_eng_prof|
+-----+------------+----------+---------+--------------+
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|
|06037|10.059485018|     72.78|   60.937|  13.691354033|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|
|06037|10.059485018|     72.78|   60.937|  13.691354033|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|
|06037|10.059485018|     72.78|   60.937|  13.691354033|
+-----+------------+----------+---------+--------------+
only showing top 20 rows

In [207]:
pcpColumns = [col('pcp_phys_r'), col('pcp_other')]
sumFunc = sum(x for x in pcpColumns)
access_df = access_df.withColumn('PCP_ratio', sumFunc)
access_df.show()

+-----+------------+----------+---------+--------------+------------------+
| fips|     p_unins|pcp_phys_r|pcp_other|p_not_eng_prof|         PCP_ratio|
+-----+------------+----------+---------+--------------+------------------+
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|174.98887000000002|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|158.62313999999998|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|174.98887000000002|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|176.06725999999998|
|06037|10.059485018|     72.78|   60.937|  13.691354033|133.71699999999998|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|158.62313999999998|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|174.98887000000002|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|176.06725999999998|
|06037|10.059485018|     72.78|   60.937|  13.691354033|133.71699999999998|
|06059|8.3365759293|  97.41725| 61.20589|  10.249305431|158.62313999999998|
|17031| 9.972268492|  93.31711| 81.67176|   7.028651671|174.98887000000002|
|53061|6.2076401725|   52.5178| 60.00729|  3.5068929756|         112.52509|
|04013|12.081175995|  70.35005|105.71721|  5.1505854956|176.06725999999998|
|06037|10.059485018|     72.78|   60.937|  13.691354033|133.71699999999998|
+-----+------------+----------+---------+--------------+------------------+
only showing top 20 rows

In [210]:
access_df.createOrReplaceTempView('access')

In [212]:
access2_query = '''
SELECT fips, p_unins as perc_unins, p_not_eng_prof as perc_not_eng_proficient, PCP_ratio
FROM access
'''

access_df = spark.sql(access2_query)
access_df.show()

+-----+------------+-----------------------+------------------+
| fips|  perc_unins|perc_not_eng_proficient|         PCP_ratio|
+-----+------------+-----------------------+------------------+
|53061|6.2076401725|           3.5068929756|         112.52509|
|53061|6.2076401725|           3.5068929756|         112.52509|
|53061|6.2076401725|           3.5068929756|         112.52509|
|17031| 9.972268492|            7.028651671|174.98887000000002|
|53061|6.2076401725|           3.5068929756|         112.52509|
|06059|8.3365759293|           10.249305431|158.62313999999998|
|17031| 9.972268492|            7.028651671|174.98887000000002|
|53061|6.2076401725|           3.5068929756|         112.52509|
|04013|12.081175995|           5.1505854956|176.06725999999998|
|06037|10.059485018|           13.691354033|133.71699999999998|
|06059|8.3365759293|           10.249305431|158.62313999999998|
|17031| 9.972268492|            7.028651671|174.98887000000002|
|53061|6.2076401725|           3.5068929756|         112.52509|
|04013|12.081175995|           5.1505854956|176.06725999999998|
|06037|10.059485018|           13.691354033|133.71699999999998|
|06059|8.3365759293|           10.249305431|158.62313999999998|
|17031| 9.972268492|            7.028651671|174.98887000000002|
|53061|6.2076401725|           3.5068929756|         112.52509|
|04013|12.081175995|           5.1505854956|176.06725999999998|
|06037|10.059485018|           13.691354033|133.71699999999998|
+-----+------------+-----------------------+------------------+
only showing top 20 rows

In [258]:
access_df.createOrReplaceTempView('access')

In [187]:
health_query = '''
SELECT fips, 
percent_adults_with_diabetes as perc_adult_diab,  percent_adults_with_obesity as perc_adult_obes, life_expectancy, 
percent_fair_or_poor_health as perc_fair_or_poor_health
FROM covid1
'''
health_df = spark.sql(health_query)
health_df.show()

+-----+---------------+---------------+---------------+------------------------+
| fips|perc_adult_diab|perc_adult_obes|life_expectancy|perc_fair_or_poor_health|
+-----+---------------+---------------+---------------+------------------------+
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|17031|            9.5|             28|   79.415729611|            17.140851058|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|06059|            8.5|           19.4|   83.105149802|            13.902377773|
|17031|            9.5|             28|   79.415729611|            17.140851058|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|04013|            8.9|           26.9|   80.379854898|            15.622654225|
|06037|            8.4|           21.7|   82.291130635|            16.418669345|
|06059|            8.5|           19.4|   83.105149802|            13.902377773|
|17031|            9.5|             28|   79.415729611|            17.140851058|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|04013|            8.9|           26.9|   80.379854898|            15.622654225|
|06037|            8.4|           21.7|   82.291130635|            16.418669345|
|06059|            8.5|           19.4|   83.105149802|            13.902377773|
|17031|            9.5|             28|   79.415729611|            17.140851058|
|53061|            8.2|           28.9|   80.374691011|            14.403971122|
|04013|            8.9|           26.9|   80.379854898|            15.622654225|
|06037|            8.4|           21.7|   82.291130635|            16.418669345|
+-----+---------------+---------------+---------------+------------------------+
only showing top 20 rows

In [259]:
health_df.createOrReplaceTempView('health')

In [215]:
lifestyle_query = '''
SELECT fips, percent_vaccinated as perc_vacc, percent_smokers as perc_smokers, 
percent_insufficient_sleep as perc_insuff_sleep, percent_physically_inactive as perc_phys_inactive
FROM covid1
'''

lifestyle_df = spark.sql(lifestyle_query)
lifestyle_df.show()

+-----+---------+------------+-----------------+------------------+
| fips|perc_vacc|perc_smokers|perc_insuff_sleep|perc_phys_inactive|
+-----+---------+------------+-----------------+------------------+
|53061|       49|12.962308599|     34.783820371|              17.8|
|53061|       49|12.962308599|     34.783820371|              17.8|
|53061|       49|12.962308599|     34.783820371|              17.8|
|17031|       45|13.776183162|      33.40278161|                21|
|53061|       49|12.962308599|     34.783820371|              17.8|
|06059|       46| 9.311197445|     30.787560897|              15.2|
|17031|       45|13.776183162|      33.40278161|                21|
|53061|       49|12.962308599|     34.783820371|              17.8|
|04013|       47|13.686398251|     34.267942269|              20.4|
|06037|       38|10.847678109|     35.147280534|              16.4|
|06059|       46| 9.311197445|     30.787560897|              15.2|
|17031|       45|13.776183162|      33.40278161|                21|
|53061|       49|12.962308599|     34.783820371|              17.8|
|04013|       47|13.686398251|     34.267942269|              20.4|
|06037|       38|10.847678109|     35.147280534|              16.4|
|06059|       46| 9.311197445|     30.787560897|              15.2|
|17031|       45|13.776183162|      33.40278161|                21|
|53061|       49|12.962308599|     34.783820371|              17.8|
|04013|       47|13.686398251|     34.267942269|              20.4|
|06037|       38|10.847678109|     35.147280534|              16.4|
+-----+---------+------------+-----------------+------------------+
only showing top 20 rows

In [260]:
lifestyle_df.createOrReplaceTempView('lifestyle')

In [189]:
demographic1_query = '''
SELECT  fips, 
percent_black as p_black, percent_american_indian_alaska_native as p_amind_alaskan, 
percent_asian as p_asian, percent_native_hawaiian_other_pacific_islander as p_haw_pi, 
percent_hispanic as p_hisp, percent_non_hispanic_white as p_nonhisp_white
FROM covid1
'''

demographic1_df = spark.sql(demographic1_query)
demographic1_df.show()

+-----+------------+---------------+------------+------------+------------+---------------+
| fips|     p_black|p_amind_alaskan|     p_asian|    p_haw_pi|      p_hisp|p_nonhisp_white|
+-----+------------+---------------+------------+------------+------------+---------------+
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|17031|23.041088947|   0.7384046267|7.8786130972|0.0747612245|25.538438137|    42.08236552|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|06059|1.6403805688|   1.0328101224|21.382575092|0.3893008342|34.157624935|   40.128431924|
|17031|23.041088947|   0.7384046267|7.8786130972|0.0747612245|25.538438137|    42.08236552|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|04013|5.4661441944|   2.8070492044|4.5977350264|0.2905126117|31.278441398|   54.902054582|
|06037|7.9644902913|   1.4373731262|15.356897093|0.3681157166|48.639634307|   26.117988212|
|06059|1.6403805688|   1.0328101224|21.382575092|0.3893008342|34.157624935|   40.128431924|
|17031|23.041088947|   0.7384046267|7.8786130972|0.0747612245|25.538438137|    42.08236552|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|04013|5.4661441944|   2.8070492044|4.5977350264|0.2905126117|31.278441398|   54.902054582|
|06037|7.9644902913|   1.4373731262|15.356897093|0.3681157166|48.639634307|   26.117988212|
|06059|1.6403805688|   1.0328101224|21.382575092|0.3893008342|34.157624935|   40.128431924|
|17031|23.041088947|   0.7384046267|7.8786130972|0.0747612245|25.538438137|    42.08236552|
|53061|3.3812696266|   1.5801919497| 11.63711911|0.6894088975|10.444090755|   68.847995033|
|04013|5.4661441944|   2.8070492044|4.5977350264|0.2905126117|31.278441398|   54.902054582|
|06037|7.9644902913|   1.4373731262|15.356897093|0.3681157166|48.639634307|   26.117988212|
+-----+------------+---------------+------------+------------+------------+---------------+
only showing top 20 rows

In [218]:
demographic2_query = '''
SELECT fips, 
percent_female as perc_female, 
segregation_index_2 as segregation_index, percent_minorities as perc_minorities
FROM covid1
'''

demographic2_df = spark.sql(demographic2_query)
demographic2_df.show()

+-----+------------+-----------------+---------------+
| fips| perc_female|segregation_index|perc_minorities|
+-----+------------+-----------------+---------------+
|53061|49.827402347|     31.003422819|             28|
|53061|49.827402347|     31.003422819|             28|
|53061|49.827402347|     31.003422819|             28|
|17031|51.431630156|     51.804258492|           57.1|
|53061|49.827402347|     31.003422819|             28|
|06059|50.633496633|       32.9623503|             58|
|17031|51.431630156|     51.804258492|           57.1|
|53061|49.827402347|     31.003422819|             28|
|04013|50.537178541|     32.393747135|           43.1|
|06037|50.701240649|     35.079426177|           73.3|
|06059|50.633496633|       32.9623503|             58|
|17031|51.431630156|     51.804258492|           57.1|
|53061|49.827402347|     31.003422819|             28|
|04013|50.537178541|     32.393747135|           43.1|
|06037|50.701240649|     35.079426177|           73.3|
|06059|50.633496633|       32.9623503|             58|
|17031|51.431630156|     51.804258492|           57.1|
|53061|49.827402347|     31.003422819|             28|
|04013|50.537178541|     32.393747135|           43.1|
|06037|50.701240649|     35.079426177|           73.3|
+-----+------------+-----------------+---------------+
only showing top 20 rows

In [261]:
demographic2_df.createOrReplaceTempView('demo')

In [262]:
weather_query = '''
SELECT  fips, mean_temp
FROM covid1
'''

weather_df = spark.sql(weather_query)
weather_df.show()
print (weather_df.count())

+-----+---------+
| fips|mean_temp|
+-----+---------+
|53061|     44.1|
|53061|     44.8|
|53061|     49.9|
|17031|     36.1|
|53061|     51.5|
|06059|     57.7|
|17031|     34.1|
|53061|     47.1|
|04013|     59.1|
|06037|     58.2|
|06059|     58.5|
|17031|     32.2|
|53061|     47.4|
|04013|     61.7|
|06037|     65.8|
|06059|     58.5|
|17031|     31.1|
|53061|     47.3|
|04013|     61.4|
|06037|       67|
+-----+---------+
only showing top 20 rows

111364

In [ ]:
weather_df.createOrReplaceTempView('weather')

In [264]:
station_query = '''
SELECT  fips, 
km_to_closest_station, station_name
FROM covid1
'''

station_df = spark.sql(station_query)
station_df.show()
print (weather_df.count())

+-----+---------------------+--------------------+
| fips|km_to_closest_station|        station_name|
+-----+---------------------+--------------------+
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|17031|    8.063384077043175|CHICAGO MIDWAY AI...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|06059|   10.047935596454208|SANTA ANA JOHN WA...|
|17031|    8.063384077043175|CHICAGO MIDWAY AI...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|04013|     12.6083300580037|PHOENIX GOODYEAR ...|
|06037|   21.174822877776425|LOS ANGELES WHITE...|
|06059|   10.047935596454208|SANTA ANA JOHN WA...|
|17031|    8.063384077043175|CHICAGO MIDWAY AI...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|04013|     12.6083300580037|PHOENIX GOODYEAR ...|
|06037|   21.174822877776425|LOS ANGELES WHITE...|
|06059|   10.047935596454208|SANTA ANA JOHN WA...|
|17031|    8.063384077043175|CHICAGO MIDWAY AI...|
|53061|    36.57287978476159|ARLINGTON MUNICIP...|
|04013|     12.6083300580037|PHOENIX GOODYEAR ...|
|06037|   21.174822877776425|LOS ANGELES WHITE...|
+-----+---------------------+--------------------+
only showing top 20 rows

111364

In [265]:
station_df.createOrReplaceTempView('station')

In [248]:
airport_df = spark.sql("SELECT station_name, fips FROM station WHERE station_name NOT LIKE '%AIR%' AND station_name NOT LIKE '%FIELD%' AND fips NOT LIKE '25025' AND fips NOT LIKE '06075' AND fips NOT LIKE '48029' AND fips NOT LIKE '06067'")

airport_df.count()

21040

In [249]:
pandas_airport_df = airport_df.toPandas()

In [252]:
pandas_airport_df['station_name'].value_counts()

NA                                   1815
SCHENECTADY, NY US                    236
STAUNTON, VA US                       226
NEWTON 5 ENE, MS US                   202
HENRY CO, TN US                       197
THOMASVILLE 2 S, AL US                196
YANKTON 2 E, SD US                    188
BINGHAMTON GREATER AP, NY US          188
CONCORDIA ASOS, KS US                 176
CHARLOTTESVILLE 2 SSE, VA US          175
OXFORD UNIVERSITY, MS US              168
ASHEVILLE 8 SSW, NC US                156
BEDFORD 5 WNW, IN US                  154
MONTICELLO SULLIVAN, NY US            151
BATESVILLE 8 WNW, AR US               150
STROM THURMOND DAM, US                148
SABRE AHP, TN US                      144
KNOXVILLE DOWNTOWN ISLAND, TN US      139
ELKINS 21 ENE, WV US                  134
OAK RIDGE ASOS, TN US                 126
LAWRENCE SMITH MEM, MO US             124
FORT STEWART WRIGHT, GA US            123
TOPEKA ASOS, KS US                    122
MONROE WALTON CO, GA US               121
MUSCLE SHOALS 2 N, AL US              120
CAMPBELL CO, TN US                    117
KENNETT MEM, MO US                    115
COLUMBUS, NE US                       111
LA VETA PASS, CO US                   111
DARRINGTON 21 NNE, WA US              110
                                     ...
JOPLIN 24 N, MO US                     25
WORTHINGTON 2 NNE, MN US               24
KEWAUNEE, WI US                        23
GOLF SIDNEY, NE US                     23
PORT ORFORD, OR US                     23
FIVE FINGER AK, US                     23
COOS BAY 8 SW, OR US                   23
KILO HARLOWTOWN, MT US                 23
YORK RIVER E RANGE, VA US              22
ULYSSES, KS US                         22
CALCASIEU PASS, LA US                  22
KEATON BEACH, FL US                    22
SCOTT CITY MUNICIPAL, KS US            22
FALLON NAAS, NV US                     21
BLYTHEVILLE AFB, AR US                 20
TOKE POINT, WA US                      19
CHEYENNE MOUNTAIN AS, CO US            18
GRINNELL, IA US                        17
DETROIT LAKES, MN US                   16
CLINES CORNERS, NM US                  16
BRIDGEPORT SONORA JUNCTION, CA US      16
BIG BAY, MI US                         13
YOSEMITE VILLAGE 12 W, CA US           13
SITKA 1 NE, AK US                       8
BRONTE 11 NNE, TX US                    6
LYONS RICE CO MUNICIPAL, KS US          6
PINEY ISLAND, NC US                     5
MARSHALL MEM MUNICIPAL, MO US           3
PANTHER JUNCTION 2 N, TX US             3
WHITMAN 5 ENE, NE US                    2
Name: station_name, dtype: int64

In [194]:
stay_home_query = '''
SELECT  fips, 
date_stay_at_home_announced, date_stay_at_home_effective
FROM covid1
'''
stay_home_df = spark.sql(stay_home_query)
stay_home_df.show()

+-----+---------------------------+---------------------------+
| fips|date_stay_at_home_announced|date_stay_at_home_effective|
+-----+---------------------------+---------------------------+
|53061|                 2020-03-23|                 2020-03-23|
|53061|                 2020-03-23|                 2020-03-23|
|53061|                 2020-03-23|                 2020-03-23|
|17031|                 2020-03-20|                 2020-03-21|
|53061|                 2020-03-23|                 2020-03-23|
|06059|                 2020-03-19|                 2020-03-19|
|17031|                 2020-03-20|                 2020-03-21|
|53061|                 2020-03-23|                 2020-03-23|
|04013|                 2020-03-30|                 2020-03-31|
|06037|                 2020-03-19|                 2020-03-19|
|06059|                 2020-03-19|                 2020-03-19|
|17031|                 2020-03-20|                 2020-03-21|
|53061|                 2020-03-23|                 2020-03-23|
|04013|                 2020-03-30|                 2020-03-31|
|06037|                 2020-03-19|                 2020-03-19|
|06059|                 2020-03-19|                 2020-03-19|
|17031|                 2020-03-20|                 2020-03-21|
|53061|                 2020-03-23|                 2020-03-23|
|04013|                 2020-03-30|                 2020-03-31|
|06037|                 2020-03-19|                 2020-03-19|
+-----+---------------------------+---------------------------+
only showing top 20 rows

In [269]:
table1 = spark.sql("""SELECT *
                FROM county
                   OUTER JOIN financial
                   ON county.fips = financial.fips
                """)

table1.count()

AnalysisException: "Can't extract value from county#2229; line 4 pos 22"

In [ ]:
table2 = spark.sql("""SELECT *
                FROM age
                   INNER JOIN 
                   ON county.fips = financial.fips
                """)