In [1]:
import pandas as pd
import numpy as np
from rfpimp import *
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, mean_squared_error, roc_curve, precision_score, recall_score
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

In [207]:
df = pd.read_csv('data/US_counties_COVID19_health_weather_data.csv', delimiter=',')
df

FileNotFoundError: [Errno 2] File data/US_counties_COVID19_health_weather_data.csv does not exist: 'data/US_counties_COVID19_health_weather_data.csv'

In [3]:
for column in df.columns:
    print (column)

NameError: name 'df' is not defined

In [4]:
df2 = df[['county','state','fips','population_density_per_sqmi','percent_fair_or_poor_health',
          'percent_smokers','percent_adults_with_obesity','percent_physically_inactive','percent_uninsured',
          'primary_care_physicians_rate','percent_vaccinated','life_expectancy',
          'percent_adults_with_diabetes','percent_insufficient_sleep', 'percent_disabled',
          'other_primary_care_provider_rate','median_household_income',
          'segregation_index_2','percent_less_than_18_years_of_age','percent_65_and_over',
          'percent_not_proficient_in_english','percent_female','percent_rural','per_capita_income',
          'percent_below_poverty','percent_unemployed_CDC','percent_age_65_and_older',
          'percent_age_17_and_younger','percent_minorities','percent_multi_unit_housing',
          'date_stay_at_home_announced','date_stay_at_home_effective']]

NameError: name 'df' is not defined

In [ ]:
df3 = df2.drop_duplicates()

In [ ]:
df3

In [ ]:
df4 = df3.groupby(['county', 'state','fips', 'date_stay_at_home_announced','date_stay_at_home_effective']).mean()

df4.to_csv('data/first_cleaning.csv')

In [208]:
df5 = pd.read_csv('first_cleaning.csv')

df5['fips'].value_counts()

FileNotFoundError: [Errno 2] File first_cleaning.csv does not exist: 'first_cleaning.csv'

In [ ]:
df6 = df5.drop_duplicates()

In [ ]:
df6['fips'].value_counts()

In [ ]:
df6.to_csv('second_cleaning.csv', index = False)

In [ ]:
test2_df['fips'].value_counts()

In [ ]:
test2_df.to_csv('data/for_spark')

In [ ]:
df['fips'].value_counts()

In [ ]:
df_cleaner.to_csv('data/df_first_clean', index = False)



# DAY 2 CLEANING

In [5]:
cdc_df = pd.read_csv('data/CDC_Data.csv')

In [6]:
chr_df = pd.read_csv('data/CHR_Data.csv')

In [7]:
cdc_df

,FIPS,STATE,ST_ABBR,COUNTY,AREA_SQMI,E_TOTPOP,Pop_Dens,perc_below_pov,perc_unemp,perc_65o,perc_17y,perc_disabled,perc_minority,perc_lim_eng,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_uninsured
0,35039,NEW MEXICO,NM,Rio Arriba,5860.869195,39307,6.706684,NaN,NaN,18.0,23.7,16.1,87.5,2.1,0.3,2.1,6.2,1.7,10.6
1,1001,ALABAMA,AL,Autauga,594.443459,55200,92.859967,15.4,4.2,14.6,24.2,19.3,25.0,0.8,3.8,1.4,5.6,1.0,7.1
2,1009,ALABAMA,AL,Blount,644.830460,57645,89.395591,14.4,4.1,17.8,23.4,14.2,12.9,1.7,0.9,1.6,4.2,0.9,11.0
3,1013,ALABAMA,AL,Butler,776.838201,20025,25.777569,23.5,6.7,19.0,22.8,17.7,48.1,0.5,1.3,1.8,7.8,1.6,10.2
4,1015,ALABAMA,AL,Calhoun,605.867251,115098,189.972308,18.6,8.8,16.8,21.9,20.8,27.5,1.0,3.7,1.7,5.8,2.7,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,TEXAS,TX,Duval,1793.476183,11355,6.331280,25.6,10.6,17.8,26.1,26.2,90.9,5.7,0.5,7.4,10.0,4.4,24.5
3138,48505,TEXAS,TX,Zapata,998.411980,14369,14.391855,39.5,11.0,13.9,33.6,17.3,95.7,24.4,0.6,18.1,7.9,0.2,29.3
3139,48507,TEXAS,TX,Zavala,1297.406535,12131,9.350192,34.8,8.4,13.7,29.5,23.3,95.0,8.0,1.7,5.6,14.4,1.6,18.4
3140,48127,TEXAS,TX,Dimmit,1328.884075,10663,8.024026,29.8,16.4,16.3,30.0,23.0,90.5,8.0,3.8,8.5,11.9,1.2,22.2
3141,48247,TEXAS,TX,Jim Hogg,1136.172598,5282,4.648942,27.4,11.5,17.6,31.4,26.0,93.0,5.5,0.8,7.7,11.5,0.5,18.8

In [82]:
state_county_df = cdc_df[['FIPS', 'STATE', 'ST_ABBR', 'COUNTY']]

KeyError: "['STATE', 'ST_ABBR', 'COUNTY'] not in index"

In [85]:
state_county_df = state_county_df.sort_values('FIPS')

In [86]:
state_county_df.to_csv('data/fips.csv', index = False)

In [10]:
cdc_df.drop(columns = ['STATE', 'ST_ABBR', 'COUNTY', 'AREA_SQMI', 'E_TOTPOP'], inplace = True)

In [11]:
cdc_df

,FIPS,Pop_Dens,perc_below_pov,perc_unemp,perc_65o,perc_17y,perc_disabled,perc_minority,perc_lim_eng,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_uninsured
0,35039,6.706684,NaN,NaN,18.0,23.7,16.1,87.5,2.1,0.3,2.1,6.2,1.7,10.6
1,1001,92.859967,15.4,4.2,14.6,24.2,19.3,25.0,0.8,3.8,1.4,5.6,1.0,7.1
2,1009,89.395591,14.4,4.1,17.8,23.4,14.2,12.9,1.7,0.9,1.6,4.2,0.9,11.0
3,1013,25.777569,23.5,6.7,19.0,22.8,17.7,48.1,0.5,1.3,1.8,7.8,1.6,10.2
4,1015,189.972308,18.6,8.8,16.8,21.9,20.8,27.5,1.0,3.7,1.7,5.8,2.7,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,6.331280,25.6,10.6,17.8,26.1,26.2,90.9,5.7,0.5,7.4,10.0,4.4,24.5
3138,48505,14.391855,39.5,11.0,13.9,33.6,17.3,95.7,24.4,0.6,18.1,7.9,0.2,29.3
3139,48507,9.350192,34.8,8.4,13.7,29.5,23.3,95.0,8.0,1.7,5.6,14.4,1.6,18.4
3140,48127,8.024026,29.8,16.4,16.3,30.0,23.0,90.5,8.0,3.8,8.5,11.9,1.2,22.2
3141,48247,4.648942,27.4,11.5,17.6,31.4,26.0,93.0,5.5,0.8,7.7,11.5,0.5,18.8

In [12]:
chr_df

,FIPS,State,County,perc_fair_poor_health,perc_smokers,perc_obese,perc_phys_inactive,perc_uninsured,pcp_rate,other_pcp_rate,...,perc_65_up,perc_afr_am,perc_nat_am_as,perc_asian,perc_nh_opi,perc_hisp,perc_nonhisp_white,perc_not_eng_prof,perc_fem,perc_rural
0,1001,Alabama,Autauga,18,19,36,31,9.0,45.0,29.0,...,14.7,19.0,0.5,1.1,0.1,2.7,75.0,0.8,51.3,42.0
1,1003,Alabama,Baldwin,18,17,29,25,12.0,73.0,44.0,...,19.7,9.0,0.8,1.1,0.1,4.4,83.2,0.8,51.5,42.3
2,1005,Alabama,Barbour,26,22,44,31,13.0,42.0,27.0,...,18.0,47.5,0.6,0.5,0.2,4.2,46.5,1.5,46.9,67.8
3,1007,Alabama,Bibb,20,20,38,38,12.0,53.0,75.0,...,15.4,21.6,0.4,0.2,0.1,2.5,74.4,0.4,46.4,68.4
4,1009,Alabama,Blount,21,20,36,29,14.0,21.0,12.0,...,18.0,1.4,0.6,0.3,0.1,9.1,87.5,1.9,50.6,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,15,18,31,26,12.0,34.0,54.0,...,10.5,1.1,1.5,0.8,0.2,16.1,79.6,2.1,48.2,10.9
3138,56039,Wyoming,Teton,12,14,13,12,15.0,121.0,108.0,...,13.5,0.6,0.9,1.2,0.1,15.1,81.5,3.6,48.4,46.4
3139,56041,Wyoming,Uinta,16,18,32,25,12.0,43.0,63.0,...,12.6,0.7,1.3,0.6,0.2,9.0,87.5,1.3,49.4,43.1
3140,56043,Wyoming,Washakie,16,16,27,25,17.0,36.0,61.0,...,20.9,0.5,1.7,0.8,0.1,13.9,82.6,0.7,49.7,36.0
3141,56045,Wyoming,Weston,13,17,32,23,14.0,55.0,55.0,...,18.7,0.6,1.5,0.6,0.0,4.0,91.9,1.1,47.3,54.5

In [13]:
chr_df.drop(columns = ['State', 'County'], inplace = True)

In [14]:
chr_df['pcp_rate_100k'] = (chr_df['pcp_rate']+chr_df['other_pcp_rate'])

In [15]:
chr_df.drop(columns = ['pcp_rate', 'other_pcp_rate'], inplace = True)

In [16]:
chr_df.rename(columns = {'perc_uninsured':'perc_unins'}, inplace = True)

In [17]:
cdc_df.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_unemp', 'perc_65o',
       'perc_17y', 'perc_disabled', 'perc_minority', 'perc_lim_eng',
       'percent_multiunit_housing', 'perc_overcrowded', 'perc_no_vehicle',
       'perc_group_quarters', 'perc_uninsured'],
      dtype='object')

In [18]:
chr_df.columns

Index(['FIPS', 'perc_fair_poor_health', 'perc_smokers', 'perc_obese',
       'perc_phys_inactive', 'perc_unins', 'prev_hosp_rate_medicare',
       'perc_unemployed', 'air_pollution', 'age_adjusted_mortality',
       'perc_diab', 'perc_insuf_sleep', 'health_costs', 'med_house_income',
       'bw_seg', 'wnw_seg', 'Population', 'perc_18_down', 'perc_65_up',
       'perc_afr_am', 'perc_nat_am_as', 'perc_asian', 'perc_nh_opi',
       'perc_hisp', 'perc_nonhisp_white', 'perc_not_eng_prof', 'perc_fem',
       'perc_rural', 'pcp_rate_100k'],
      dtype='object')

In [19]:
df_sociohealth = pd.merge(cdc_df, chr_df, how='inner', on = 'FIPS')

In [20]:
df_sociohealth.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_unemp', 'perc_65o',
       'perc_17y', 'perc_disabled', 'perc_minority', 'perc_lim_eng',
       'percent_multiunit_housing', 'perc_overcrowded', 'perc_no_vehicle',
       'perc_group_quarters', 'perc_uninsured', 'perc_fair_poor_health',
       'perc_smokers', 'perc_obese', 'perc_phys_inactive', 'perc_unins',
       'prev_hosp_rate_medicare', 'perc_unemployed', 'air_pollution',
       'age_adjusted_mortality', 'perc_diab', 'perc_insuf_sleep',
       'health_costs', 'med_house_income', 'bw_seg', 'wnw_seg', 'Population',
       'perc_18_down', 'perc_65_up', 'perc_afr_am', 'perc_nat_am_as',
       'perc_asian', 'perc_nh_opi', 'perc_hisp', 'perc_nonhisp_white',
       'perc_not_eng_prof', 'perc_fem', 'perc_rural', 'pcp_rate_100k'],
      dtype='object')

In [21]:
df_sociohealth['65_older'] = ((df_sociohealth['perc_65o']+df_sociohealth['perc_65_up'])/2)

In [22]:
df_sociohealth['17_younger'] = ((df_sociohealth['perc_17y']+df_sociohealth['perc_18_down'])/2)

In [23]:
df_sociohealth.drop(columns = ['65_up', 'perc_65o', 'perc_65_up', 'perc_17y', 'perc_18_down' ], inplace = True)

KeyError: "['65_up'] not found in axis"

In [24]:
df_sociohealth

,FIPS,Pop_Dens,perc_below_pov,perc_unemp,perc_65o,perc_17y,perc_disabled,perc_minority,perc_lim_eng,percent_multiunit_housing,...,perc_asian,perc_nh_opi,perc_hisp,perc_nonhisp_white,perc_not_eng_prof,perc_fem,perc_rural,pcp_rate_100k,65_older,17_younger
0,35039,6.706684,NaN,NaN,18.0,23.7,16.1,87.5,2.1,0.3,...,0.6,0.2,70.8,12.7,2.7,51.1,49.8,136.0,17.90,23.95
1,1001,92.859967,15.4,4.2,14.6,24.2,19.3,25.0,0.8,3.8,...,1.1,0.1,2.7,75.0,0.8,51.3,42.0,74.0,14.65,24.30
2,1009,89.395591,14.4,4.1,17.8,23.4,14.2,12.9,1.7,0.9,...,0.3,0.1,9.1,87.5,1.9,50.6,90.0,33.0,17.90,23.30
3,1013,25.777569,23.5,6.7,19.0,22.8,17.7,48.1,0.5,1.3,...,1.1,0.1,1.3,52.2,0.9,53.4,71.2,90.0,19.00,23.20
4,1015,189.972308,18.6,8.8,16.8,21.9,20.8,27.5,1.0,3.7,...,0.9,0.1,3.6,72.6,0.7,51.9,33.7,116.0,16.85,21.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,6.331280,25.6,10.6,17.8,26.1,26.2,90.9,5.7,0.5,...,0.4,0.1,89.4,9.0,4.9,48.7,67.0,NaN,17.85,25.95
3138,48505,14.391855,39.5,11.0,13.9,33.6,17.3,95.7,24.4,0.6,...,0.2,0.0,94.6,4.8,25.6,50.2,23.5,28.0,12.90,33.60
3139,48507,9.350192,34.8,8.4,13.7,29.5,23.3,95.0,8.0,1.7,...,0.2,0.2,93.6,5.6,9.9,49.8,38.0,92.0,13.50,29.80
3140,48127,8.024026,29.8,16.4,16.3,30.0,23.0,90.5,8.0,3.8,...,0.7,0.0,86.6,11.3,7.4,51.0,39.5,92.0,15.75,29.95
3141,48247,4.648942,27.4,11.5,17.6,31.4,26.0,93.0,5.5,0.8,...,0.6,0.0,92.4,5.9,7.5,50.0,17.4,NaN,17.10,30.70

In [25]:
df_sociohealth['uninsured'] = ((df_sociohealth['perc_uninsured']+df_sociohealth['perc_unins'])/2)

In [26]:
df_sociohealth.drop(columns = ['perc_uninsured', 'perc_unins' ], inplace = True)

In [27]:
df_sociohealth['lim_eng'] = ((df_sociohealth['perc_lim_eng']+df_sociohealth['perc_not_eng_prof'])/2)

In [28]:
df_sociohealth.drop(columns = ['perc_lim_eng', 'perc_not_eng_prof' ], inplace = True)

In [29]:
df_sociohealth['unemployed'] = ((df_sociohealth['perc_unemployed']+df_sociohealth['perc_unemp'])/2)

In [30]:
df_sociohealth.drop(columns = ['perc_unemployed', 'perc_unemp' ], inplace = True)

In [31]:
df_sociohealth

,FIPS,Pop_Dens,perc_below_pov,perc_65o,perc_17y,perc_disabled,perc_minority,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,...,perc_hisp,perc_nonhisp_white,perc_fem,perc_rural,pcp_rate_100k,65_older,17_younger,uninsured,lim_eng,unemployed
0,35039,6.706684,NaN,18.0,23.7,16.1,87.5,0.3,2.1,6.2,...,70.8,12.7,51.1,49.8,136.0,17.90,23.95,12.80,2.40,NaN
1,1001,92.859967,15.4,14.6,24.2,19.3,25.0,3.8,1.4,5.6,...,2.7,75.0,51.3,42.0,74.0,14.65,24.30,8.05,0.80,4.75
2,1009,89.395591,14.4,17.8,23.4,14.2,12.9,0.9,1.6,4.2,...,9.1,87.5,50.6,90.0,33.0,17.90,23.30,12.50,1.80,4.80
3,1013,25.777569,23.5,19.0,22.8,17.7,48.1,1.3,1.8,7.8,...,1.3,52.2,53.4,71.2,90.0,19.00,23.20,11.10,0.70,6.90
4,1015,189.972308,18.6,16.8,21.9,20.8,27.5,3.7,1.7,5.8,...,3.6,72.6,51.9,33.7,116.0,16.85,21.85,10.20,0.85,7.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48131,6.331280,25.6,17.8,26.1,26.2,90.9,0.5,7.4,10.0,...,89.4,9.0,48.7,67.0,NaN,17.85,25.95,22.25,5.30,10.85
3138,48505,14.391855,39.5,13.9,33.6,17.3,95.7,0.6,18.1,7.9,...,94.6,4.8,50.2,23.5,28.0,12.90,33.60,29.15,25.00,11.00
3139,48507,9.350192,34.8,13.7,29.5,23.3,95.0,1.7,5.6,14.4,...,93.6,5.6,49.8,38.0,92.0,13.50,29.80,19.20,8.95,11.25
3140,48127,8.024026,29.8,16.3,30.0,23.0,90.5,3.8,8.5,11.9,...,86.6,11.3,51.0,39.5,92.0,15.75,29.95,20.10,7.70,11.80
3141,48247,4.648942,27.4,17.6,31.4,26.0,93.0,0.8,7.7,11.5,...,92.4,5.9,50.0,17.4,NaN,17.10,30.70,18.90,6.50,10.55

In [32]:
df_sociohealth.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_65o', 'perc_17y',
       'perc_disabled', 'perc_minority', 'percent_multiunit_housing',
       'perc_overcrowded', 'perc_no_vehicle', 'perc_group_quarters',
       'perc_fair_poor_health', 'perc_smokers', 'perc_obese',
       'perc_phys_inactive', 'prev_hosp_rate_medicare', 'air_pollution',
       'age_adjusted_mortality', 'perc_diab', 'perc_insuf_sleep',
       'health_costs', 'med_house_income', 'bw_seg', 'wnw_seg', 'Population',
       'perc_18_down', 'perc_65_up', 'perc_afr_am', 'perc_nat_am_as',
       'perc_asian', 'perc_nh_opi', 'perc_hisp', 'perc_nonhisp_white',
       'perc_fem', 'perc_rural', 'pcp_rate_100k', '65_older', '17_younger',
       'uninsured', 'lim_eng', 'unemployed'],
      dtype='object')

In [515]:
df_sociohealth = df_sociohealth.sort_values(by = "FIPS")

In [33]:
df_sociohealth.isnull().sum()

FIPS                            0
Pop_Dens                        0
perc_below_pov                  1
perc_65o                        0
perc_17y                        0
perc_disabled                   0
perc_minority                   0
percent_multiunit_housing       0
perc_overcrowded                0
perc_no_vehicle                 0
perc_group_quarters             0
perc_fair_poor_health           0
perc_smokers                    0
perc_obese                      0
perc_phys_inactive              0
prev_hosp_rate_medicare       122
air_pollution                  34
age_adjusted_mortality         65
perc_diab                       0
perc_insuf_sleep                0
health_costs                    7
med_house_income                1
bw_seg                       1091
wnw_seg                       356
Population                      0
perc_18_down                    0
perc_65_up                      0
perc_afr_am                     0
perc_nat_am_as                  0
perc_asian                      0
perc_nh_opi                     0
perc_hisp                       0
perc_nonhisp_white              0
perc_fem                        0
perc_rural                      7
pcp_rate_100k                 160
65_older                        0
17_younger                      0
uninsured                       1
lim_eng                         0
unemployed                      2
dtype: int64

In [34]:
df_sociohealth.drop(columns = 'bw_seg', inplace = True)

In [35]:
column_list = ['perc_below_pov', 'perc_unemp','prev_hosp_rate_medicare', 'perc_unemployed', 'air_pollution',
               'age_adjusted_mortality','health_costs', 'med_house_income', 'wnw_seg', 'perc_rural',
               'pcp_rate_100k', 'uninsured']

In [516]:
for column in column_list: 
    df_sociohealth[column].fillna(df_sociohealth[column].mean(skipna = True), inplace = True)

KeyError: 'perc_unemp'

In [37]:
df_sociohealth.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_65o', 'perc_17y',
       'perc_disabled', 'perc_minority', 'percent_multiunit_housing',
       'perc_overcrowded', 'perc_no_vehicle', 'perc_group_quarters',
       'perc_fair_poor_health', 'perc_smokers', 'perc_obese',
       'perc_phys_inactive', 'prev_hosp_rate_medicare', 'air_pollution',
       'age_adjusted_mortality', 'perc_diab', 'perc_insuf_sleep',
       'health_costs', 'med_house_income', 'wnw_seg', 'Population',
       'perc_18_down', 'perc_65_up', 'perc_afr_am', 'perc_nat_am_as',
       'perc_asian', 'perc_nh_opi', 'perc_hisp', 'perc_nonhisp_white',
       'perc_fem', 'perc_rural', 'pcp_rate_100k', '65_older', '17_younger',
       'uninsured', 'lim_eng', 'unemployed'],
      dtype='object')

In [529]:
df_race[[]] = df_sociohealth[['FIPS','perc_afr_am', 'perc_nat_am_as',
       'perc_asian', 'perc_nh_opi', 'perc_hisp', 'perc_nonhisp_white']]

In [530]:
df_race.reset_index(inplace = True)
df_race

,index,FIPS,perc_afr_am,perc_nat_am_as,perc_asian,perc_nh_opi,perc_hisp,perc_nonhisp_white
0,1,1001,19.0,0.5,1.1,0.1,2.7,75.0
1,1315,1003,9.0,0.8,1.1,0.1,4.4,83.2
2,3076,1005,47.5,0.6,0.5,0.2,4.2,46.5
3,2130,1007,21.6,0.4,0.2,0.1,2.5,74.4
4,2,1009,1.4,0.6,0.3,0.1,9.1,87.5
...,...,...,...,...,...,...,...,...
3137,2128,56037,1.1,1.5,0.8,0.2,16.1,79.6
3138,2462,56039,0.6,0.9,1.2,0.1,15.1,81.5
3139,2129,56041,0.7,1.3,0.6,0.2,9.0,87.5
3140,1313,56043,0.5,1.7,0.8,0.1,13.9,82.6
3141,1314,56045,0.6,1.5,0.6,0.0,4.0,91.9

In [727]:
df_race.drop(columns = ['index'], inplace = True)

KeyError: "['index'] not found in axis"

In [729]:
df_race.columns

Index(['FIPS', 'perc_afr_am', 'perc_nat_am_as', 'perc_asian', 'perc_nh_opi',
       'perc_hisp', 'perc_nonhisp_white'],
      dtype='object')

In [731]:
df_race.rename(columns = {'perc_afr_am':'%_african_american', 
                          'perc_nat_am_as':'%_natamer_alaskan', 
                          'perc_asian':'%_asian', 
                          'perc_nh_opi':'%_hawaii_pacisl',
                          'perc_hisp':'%_hisp', 
                          'perc_nonhisp_white':'%_nonhisp_white'}, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [732]:
df_race.to_csv('data/race_df.csv', index = False)

In [38]:
df_sel_sh = df_sociohealth[['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_disabled',
       'perc_minority', 'percent_multiunit_housing', 'perc_overcrowded',
       'perc_no_vehicle', 'perc_group_quarters', 'perc_fair_poor_health',
       'perc_smokers', 'perc_obese', 'perc_phys_inactive',
       'prev_hosp_rate_medicare', 'air_pollution', 'unemployed',
       'age_adjusted_mortality', 'perc_diab', 'perc_insuf_sleep',
       'health_costs', 'med_house_income', 'wnw_seg', 'Population', 'perc_fem', 'perc_rural',
       'pcp_rate_100k', '65_older', '17_younger', 'uninsured', 'lim_eng']]

In [39]:
df_sel_sh.to_csv('data/tues_clean1.csv', index= False)

In [463]:
ec_df = pd.read_csv('data/2016_US_County_Level_Presidential_Results.csv')

In [464]:
ec_df

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2060
...,...,...,...,...,...,...,...,...,...,...,...
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045

In [466]:
ec_df.loc[ec_df['combined_fips'] == 46102]

Empty DataFrame
Columns: [Unnamed: 0, votes_dem, votes_gop, total_votes, per_dem, per_gop, diff, per_point_diff, state_abbr, county_name, combined_fips]
Index: []

In [41]:
ec_df = ec_df[['combined_fips', 'per_dem', 'per_gop']]

In [434]:
ec_df.rename(columns = {'combined_fips': 'FIPS'}, inplace = True)

In [503]:
ec_df.sort_values(by = 'FIPS', inplace = True)

KeyError: 'FIPS'

In [436]:
sociohealth = pd.merge(df_sel_sh, ec_df, how = 'left', on = 'FIPS')

In [445]:
sociohealth.isnull().sum()

FIPS                           0
Pop_Dens                       0
perc_below_pov                 0
perc_disabled                  0
perc_minority                  0
percent_multiunit_housing      0
perc_overcrowded               0
perc_no_vehicle                0
perc_group_quarters            0
perc_fair_poor_health          0
perc_smokers                   0
perc_obese                     0
perc_phys_inactive             0
prev_hosp_rate_medicare      122
air_pollution                 34
unemployed                     2
age_adjusted_mortality        65
perc_diab                      0
perc_insuf_sleep               0
health_costs                   7
med_house_income               1
wnw_seg                      356
Population                     0
perc_fem                       0
perc_rural                     7
pcp_rate_100k                160
65_older                       0
17_younger                     0
uninsured                      1
lim_eng                        0
per_dem                        3
per_gop                        3
dtype: int64

In [446]:
sociohealth.loc[sociohealth['per_dem'].isnull() == True]

,FIPS,Pop_Dens,perc_below_pov,perc_disabled,perc_minority,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_fair_poor_health,...,Population,perc_fem,perc_rural,pcp_rate_100k,65_older,17_younger,uninsured,lim_eng,per_dem,per_gop
2747,15005,6.254481,10.6,24.3,78.7,3.3,0.0,21.3,16.0,14,...,88,53.4,100.0,0.0,26.75,2.65,NaN,4.2,NaN,NaN
3113,2158,0.480148,40.5,11.0,96.4,0.5,49.3,87.8,3.3,38,...,8049,47.8,NaN,NaN,5.70,40.65,22.05,1.2,NaN,NaN
3136,46102,6.847057,49.3,14.4,95.7,1.8,33.8,15.0,2.2,33,...,14415,50.8,NaN,84.0,6.85,37.45,26.80,1.2,NaN,NaN

In [462]:
state_county_df.loc[state_county_df['FIPS'] == 46102]

       FIPS         STATE ST_ABBR         COUNTY
2412  46102  SOUTH DAKOTA      SD  Oglala Lakota

In [471]:
state_county_df.loc[state_county_df['STATE'] == 'HAWAII']

      FIPS   STATE ST_ABBR    COUNTY
546  15001  HAWAII      HI    Hawaii
547  15003  HAWAII      HI  Honolulu
548  15005  HAWAII      HI   Kalawao
549  15007  HAWAII      HI     Kauai
550  15009  HAWAII      HI      Maui

In [472]:
sociohealth.loc[sociohealth['per_dem'].isnull() == True]

,FIPS,Pop_Dens,perc_below_pov,perc_disabled,perc_minority,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_fair_poor_health,...,Population,perc_fem,perc_rural,pcp_rate_100k,65_older,17_younger,uninsured,lim_eng,per_dem,per_gop
2747,15005,6.254481,10.6,24.3,78.7,3.3,0.0,21.3,16.0,14,...,88,53.4,100.0,0.0,26.75,2.65,NaN,4.2,NaN,NaN
3113,2158,0.480148,40.5,11.0,96.4,0.5,49.3,87.8,3.3,38,...,8049,47.8,NaN,NaN,5.70,40.65,22.05,1.2,NaN,NaN
3136,46102,6.847057,49.3,14.4,95.7,1.8,33.8,15.0,2.2,33,...,14415,50.8,NaN,84.0,6.85,37.45,26.80,1.2,NaN,NaN

In [486]:
sociohealth['per_dem'].iloc[3136] = 86.5
sociohealth['per_gop'].iloc[3136] = 8.3
sociohealth['per_dem'].iloc[2747] = 63.6
sociohealth['per_gop'].iloc[2747] = 27.1
sociohealth['per_dem'].iloc[3113] = 37.7
sociohealth['per_gop'].iloc[3113] = 52.9

print(sociohealth['per_dem'].iloc[3136], sociohealth['per_gop'].iloc[3136], sociohealth['per_dem'].iloc[2747], 
      sociohealth['per_gop'].iloc[2747], sociohealth['per_dem'].iloc[3113], sociohealth['per_gop'].iloc[3113])

86.5 8.3 63.6 27.1 37.7 52.9

In [488]:
sociohealth.isnull().sum()

FIPS                           0
Pop_Dens                       0
perc_below_pov                 0
perc_disabled                  0
perc_minority                  0
percent_multiunit_housing      0
perc_overcrowded               0
perc_no_vehicle                0
perc_group_quarters            0
perc_fair_poor_health          0
perc_smokers                   0
perc_obese                     0
perc_phys_inactive             0
prev_hosp_rate_medicare      122
air_pollution                 34
unemployed                     2
age_adjusted_mortality        65
perc_diab                      0
perc_insuf_sleep               0
health_costs                   7
med_house_income               1
wnw_seg                      356
Population                     0
perc_fem                       0
perc_rural                     7
pcp_rate_100k                160
65_older                       0
17_younger                     0
uninsured                      1
lim_eng                        0
per_dem                        0
per_gop                        0
dtype: int64

In [494]:
nan_list = ['prev_hosp_rate_medicare', 'air_pollution', 'unemployed', 'age_adjusted_mortality', 
            'med_house_income', 'wnw_seg', 'perc_rural', 'pcp_rate_100k', 'uninsured', 'health_costs']

In [495]:
for c in nan_list:
    sociohealth[c].fillna(sociohealth[c].mean(skipna = True), inplace = True)

In [496]:
sociohealth.isnull().sum()

FIPS                         0
Pop_Dens                     0
perc_below_pov               0
perc_disabled                0
perc_minority                0
percent_multiunit_housing    0
perc_overcrowded             0
perc_no_vehicle              0
perc_group_quarters          0
perc_fair_poor_health        0
perc_smokers                 0
perc_obese                   0
perc_phys_inactive           0
prev_hosp_rate_medicare      0
air_pollution                0
unemployed                   0
age_adjusted_mortality       0
perc_diab                    0
perc_insuf_sleep             0
health_costs                 0
med_house_income             0
wnw_seg                      0
Population                   0
perc_fem                     0
perc_rural                   0
pcp_rate_100k                0
65_older                     0
17_younger                   0
uninsured                    0
lim_eng                      0
per_dem                      0
per_gop                      0
dtype: int64

In [420]:
sociohealth.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_disabled', 'perc_minority',
       'percent_multiunit_housing', 'perc_overcrowded', 'perc_no_vehicle',
       'perc_group_quarters', 'perc_fair_poor_health', 'perc_smokers',
       'perc_obese', 'perc_phys_inactive', 'prev_hosp_rate_medicare',
       'air_pollution', 'unemployed', 'age_adjusted_mortality', 'perc_diab',
       'perc_insuf_sleep', 'health_costs', 'med_house_income', 'wnw_seg',
       'Population', 'perc_fem', 'perc_rural', 'pcp_rate_100k', '65_older',
       '17_younger', 'uninsured', 'lim_eng', 'per_dem', 'per_gop'],
      dtype='object')

In [507]:
sociohealth.sort_values(by = 'FIPS', inplace = True)

In [509]:
sociohealth

,FIPS,Pop_Dens,perc_below_pov,perc_disabled,perc_minority,percent_multiunit_housing,perc_overcrowded,perc_no_vehicle,perc_group_quarters,perc_fair_poor_health,...,Population,perc_fem,perc_rural,pcp_rate_100k,65_older,17_younger,uninsured,lim_eng,per_dem,per_gop
1,1001,92.859967,15.4,19.3,25.0,3.8,1.4,5.6,1.0,18,...,55416,51.3,42.0,74.0,14.65,24.30,8.05,0.80,0.239569,0.734358
1315,1003,130.901947,10.6,14.0,17.0,18.3,1.3,3.4,1.4,18,...,208563,51.5,42.3,117.0,19.60,21.80,11.10,0.65,0.195653,0.773515
3076,1005,29.132150,28.9,22.2,53.9,1.3,3.4,9.2,11.2,26,...,25965,46.9,67.8,69.0,18.00,21.10,12.10,1.55,0.466603,0.522714
2130,1007,36.190214,14.0,16.7,25.4,2.4,0.8,6.0,9.3,20,...,22643,46.4,68.4,128.0,15.85,20.75,9.95,0.35,0.214220,0.769662
2,1009,89.395591,14.4,14.2,12.9,0.9,1.6,4.2,0.9,21,...,57704,50.6,90.0,33.0,17.90,23.30,12.50,1.80,0.084699,0.898519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,56037,4.231045,12.0,12.3,20.4,5.5,1.9,2.4,1.3,15,...,44165,48.2,10.9,88.0,10.60,26.85,12.00,1.85,0.194046,0.729428
2462,56039,5.769301,7.1,7.0,18.4,7.5,7.2,2.4,4.0,12,...,23191,48.4,46.4,229.0,13.55,19.00,12.50,3.95,0.600608,0.321945
2129,56041,9.899987,12.5,17.2,12.5,5.8,2.8,3.9,1.3,16,...,20773,49.4,43.1,106.0,12.35,29.45,12.10,1.00,0.149261,0.764187
1313,56043,3.631169,12.4,14.9,18.0,1.1,1.8,5.0,2.0,16,...,8235,49.7,36.0,97.0,20.80,23.90,16.20,0.50,0.143203,0.783580
1314,56045,2.960796,17.4,14.4,8.9,2.6,2.3,2.6,5.1,13,...,7236,47.3,54.5,110.0,18.80,21.30,13.65,1.00,0.088182,0.869226

In [511]:
sociohealth = sociohealth.reset_index().drop(columns='index')

In [707]:
sociohealth.columns

Index(['FIPS', 'Pop_Dens', 'perc_below_pov', 'perc_disabled', 'perc_minority',
       'percent_multiunit_housing', 'perc_overcrowded', 'perc_no_vehicle',
       'perc_group_quarters', 'perc_fair_poor_health', 'perc_smokers',
       'perc_obese', 'perc_phys_inactive', 'prev_hosp_rate_medicare',
       'air_pollution', 'unemployed', 'age_adjusted_mortality', 'perc_diab',
       'perc_insuf_sleep', 'health_costs', 'med_house_income', 'wnw_seg',
       'Population', 'perc_fem', 'perc_rural', 'pcp_rate_100k', '65_older',
       '17_younger', 'uninsured', 'lim_eng', 'per_dem', 'per_gop'],
      dtype='object')

In [714]:
sociohealth.rename(columns =  {'Pop_Dens':'population_density', 'perc_below_pov': '%_below_poverty_line',
                               'perc_disabled': '%_disabled', 'perc_minority': '%_minority',
                               'percent_multiunit_housing': '%multi_unit_housing', 
                               'perc_overcrowded': '%_overcrowded', 'perc_no_vehicle': '%_no_vehicle',
                               'perc_group_quarters': '%_group_quarters', 
                               'perc_fair_poor_health': '%_fair_poor_health', 
                               'perc_smokers': '%_smokers', 'perc_obese': '%_obese', 
                               'perc_phys_inactive': '%_physically_inactive', 
                               'prev_hosp_rate_medicare': 'preventable_hospitalization_rate_medicare',
                               'unemployed':'%_unemployed','age_adjusted_mortality': 'age_adjusted_mortality_rate',
                               'perc_diab':'%_diabetes', 'perc_insuf_sleep': '%_insufficent_sleep', 
                               'wnw_seg': 'segregation_index','Population':'population', 
                               'perc_fem': '%_female', 'perc_rural':'%_rural', 
                               'pcp_rate_100k': 'pcp_rate', '65_older': '%_65andup','uninsured':'%_uninsured', 
                               'lim_eng':'%_limited_english', 'per_dem':'%_clinton_votes_2016', 
                               'per_gop': '%_trump_votes_2016'}, inplace = True)

In [724]:
sociohealth.columns

Index(['FIPS', 'population_density', '%_below_poverty_line', '%_disabled',
       '%_minority', '%multi_unit_housing', '%_overcrowded', '%_no_vehicle',
       '%_group_quarters', '%_fair_poor_health', '%_smokers', '%_obese',
       '%_physically_inactive', 'preventable_hospitalization_rate_medicare',
       'air_pollution', '%_unemployed', 'age_adjusted_mortality_rate',
       '%_diabetes', '%_insufficent_sleep', 'health_costs', 'med_house_income',
       'segregation_index', 'population', '%_female', 'percentage_rural',
       'pcp_rate', '%_65andup', '%_uninsured', '%_limited_english',
       '%_clinton_votes_2016', '%_trump_votes_2016'],
      dtype='object')

In [720]:
sociohealth.drop(columns = ['17_younger'], inplace = True)

In [725]:
sociohealth.to_csv('data/sociohealth.csv', index = False)

In [43]:
sho_df = pd.read_csv('data/Statewide-Stay-at-Home-Orders.csv')

In [44]:
sho_df.columns = sho_df.iloc[0]

In [45]:
sho_df.drop(index = [0, 52, 53], inplace = True)

In [46]:
sho_df['State'] = sho_df['State'].str.upper()

In [47]:
sho_df.rename(columns = {'State': 'STATE'}, inplace = True)

In [142]:
sho_df

0                  STATE Date Announced Effective Date
1                ALABAMA        April 3        April 4
2                 ALASKA       March 27       March 28
3                ARIZONA       March 30       March 31
4               ARKANSAS              -              -
5             CALIFORNIA       March 19       March 19
6               COLORADO       March 26       March 26
7            CONNECTICUT       March 20       March 23
8               DELAWARE       March 22       March 24
9   DISTRICT OF COLUMBIA       March 30        April 1
10               FLORIDA        April 1        April 3
11               GEORGIA        April 2        April 3
12               HAWAII        March 23       March 25
13                 IDAHO       March 25       March 25
14              ILLINOIS       March 20       March 21
15               INDIANA       March 23       March 24
16                  IOWA              -              -
17                KANSAS       March 28       March 30
18              KENTUCKY       March 22       March 26
19             LOUISIANA       March 22       March 23
20                 MAINE       March 31        April 2
21              MARYLAND       March 30       March 30
22         MASSACHUSETTS       March 23       March 24
23              MICHIGAN       March 23       March 24
24             MINNESOTA       March 25       March 27
25           MISSISSIPPI       March 31        April 3
26              MISSOURI        April 3        April 6
27               MONTANA       March 26       March 28
28              NEBRASKA              -              -
29                NEVADA        April 1        April 1
30         NEW HAMPSHIRE       March 26       March 27
31            NEW JERSEY       March 20       March 21
32            NEW MEXICO       March 23       March 24
33              NEW YORK       March 20       March 22
34        NORTH CAROLINA       March 27       March 30
35          NORTH DAKOTA              -              -
36                  OHIO       March 22       March 23
37              OKLAHOMA              -              -
38                OREGON       March 23       March 23
39          PENNSYLVANIA       March 23        April 1
40          RHODE ISLAND       March 28       March 28
41        SOUTH CAROLINA              -              -
42          SOUTH DAKOTA              -              -
43             TENNESSEE       March 30       March 31
44                 TEXAS       March 31        April 2
45                  UTAH              -              -
46               VERMONT       March 24       March 24
47              VIRGINIA       March 30       March 30
48            WASHINGTON       March 23       March 23
49         WEST VIRGINIA       March 23       March 24
50             WISCONSIN       March 24       March 25
51               WYOMING              -              -

In [147]:
sho_df['Date Announced'].iloc[36] = 'March 28'
sho_df['Effective Date'].iloc[36] = 'March 28'

In [148]:
sho_df

0                  STATE Date Announced Effective Date
1                ALABAMA        April 3        April 4
2                 ALASKA       March 27       March 28
3                ARIZONA       March 30       March 31
4               ARKANSAS              -              -
5             CALIFORNIA       March 19       March 19
6               COLORADO       March 26       March 26
7            CONNECTICUT       March 20       March 23
8               DELAWARE       March 22       March 24
9   DISTRICT OF COLUMBIA       March 30        April 1
10               FLORIDA        April 1        April 3
11               GEORGIA        April 2        April 3
12               HAWAII        March 23       March 25
13                 IDAHO       March 25       March 25
14              ILLINOIS       March 20       March 21
15               INDIANA       March 23       March 24
16                  IOWA              -              -
17                KANSAS       March 28       March 30
18              KENTUCKY       March 22       March 26
19             LOUISIANA       March 22       March 23
20                 MAINE       March 31        April 2
21              MARYLAND       March 30       March 30
22         MASSACHUSETTS       March 23       March 24
23              MICHIGAN       March 23       March 24
24             MINNESOTA       March 25       March 27
25           MISSISSIPPI       March 31        April 3
26              MISSOURI        April 3        April 6
27               MONTANA       March 26       March 28
28              NEBRASKA              -              -
29                NEVADA        April 1        April 1
30         NEW HAMPSHIRE       March 26       March 27
31            NEW JERSEY       March 20       March 21
32            NEW MEXICO       March 23       March 24
33              NEW YORK       March 20       March 22
34        NORTH CAROLINA       March 27       March 30
35          NORTH DAKOTA              -              -
36                  OHIO       March 22       March 23
37              OKLAHOMA       March 28       March 28
38                OREGON       March 23       March 23
39          PENNSYLVANIA       March 23        April 1
40          RHODE ISLAND       March 28       March 28
41        SOUTH CAROLINA              -              -
42          SOUTH DAKOTA              -              -
43             TENNESSEE       March 30       March 31
44                 TEXAS       March 31        April 2
45                  UTAH              -              -
46               VERMONT       March 24       March 24
47              VIRGINIA       March 30       March 30
48            WASHINGTON       March 23       March 23
49         WEST VIRGINIA       March 23       March 24
50             WISCONSIN       March 24       March 25
51               WYOMING              -              -

In [242]:
#state_county_df.reset_index(inplace = True)

In [99]:
state_county_df.drop(columns = ['level_0', 'index'], inplace = True)

In [149]:
state_county_df

       FIPS    STATE ST_ABBR      COUNTY
0      1001  ALABAMA      AL     Autauga
1      1003  ALABAMA      AL     Baldwin
2      1005  ALABAMA      AL     Barbour
3      1007  ALABAMA      AL        Bibb
4      1009  ALABAMA      AL      Blount
...     ...      ...     ...         ...
3137  56037  WYOMING      WY  Sweetwater
3138  56039  WYOMING      WY       Teton
3139  56041  WYOMING      WY       Uinta
3140  56043  WYOMING      WY    Washakie
3141  56045  WYOMING      WY      Weston

[3142 rows x 4 columns]

In [150]:
sc_sh_df = pd.merge(state_county_df, sho_df, how='left', on = 'STATE')

In [151]:
sc_sh_df

print(sc_sh_df)
is_NaN = sc_sh_df.isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = sc_sh_df[row_has_NaN]
print(rows_with_NaN)

       FIPS    STATE ST_ABBR      COUNTY Date Announced Effective Date
0      1001  ALABAMA      AL     Autauga        April 3        April 4
1      1003  ALABAMA      AL     Baldwin        April 3        April 4
2      1005  ALABAMA      AL     Barbour        April 3        April 4
3      1007  ALABAMA      AL        Bibb        April 3        April 4
4      1009  ALABAMA      AL      Blount        April 3        April 4
...     ...      ...     ...         ...            ...            ...
3137  56037  WYOMING      WY  Sweetwater              -              -
3138  56039  WYOMING      WY       Teton              -              -
3139  56041  WYOMING      WY       Uinta              -              -
3140  56043  WYOMING      WY    Washakie              -              -
3141  56045  WYOMING      WY      Weston              -              -

[3142 rows x 6 columns]
      FIPS   STATE ST_ABBR    COUNTY Date Announced Effective Date
546  15001  HAWAII      HI    Hawaii            NaN            NaN
547  15003  HAWAII      HI  Honolulu            NaN            NaN
548  15005  HAWAII      HI   Kalawao            NaN            NaN
549  15007  HAWAII      HI     Kauai            NaN            NaN
550  15009  HAWAII      HI      Maui            NaN            NaN

In [152]:
sc_sh_df

       FIPS    STATE ST_ABBR      COUNTY Date Announced Effective Date
0      1001  ALABAMA      AL     Autauga        April 3        April 4
1      1003  ALABAMA      AL     Baldwin        April 3        April 4
2      1005  ALABAMA      AL     Barbour        April 3        April 4
3      1007  ALABAMA      AL        Bibb        April 3        April 4
4      1009  ALABAMA      AL      Blount        April 3        April 4
...     ...      ...     ...         ...            ...            ...
3137  56037  WYOMING      WY  Sweetwater              -              -
3138  56039  WYOMING      WY       Teton              -              -
3139  56041  WYOMING      WY       Uinta              -              -
3140  56043  WYOMING      WY    Washakie              -              -
3141  56045  WYOMING      WY      Weston              -              -

[3142 rows x 6 columns]

In [153]:
sc_sh_df['Date Announced'].fillna('March 23', inplace = True)
sc_sh_df['Effective Date'].fillna('March 25', inplace = True)

In [154]:
sc_sh_df.isnull().sum()

FIPS              0
STATE             0
ST_ABBR           0
COUNTY            0
Date Announced    0
Effective Date    0
dtype: int64

In [155]:
sc_sh_df.to_csv('data/stay_home.csv', index = False)

In [156]:
sc_sh_df = pd.read_csv('data/stay_home.csv')

In [157]:
sc_sh_df

       FIPS    STATE ST_ABBR      COUNTY Date Announced Effective Date
0      1001  ALABAMA      AL     Autauga        April 3        April 4
1      1003  ALABAMA      AL     Baldwin        April 3        April 4
2      1005  ALABAMA      AL     Barbour        April 3        April 4
3      1007  ALABAMA      AL        Bibb        April 3        April 4
4      1009  ALABAMA      AL      Blount        April 3        April 4
...     ...      ...     ...         ...            ...            ...
3137  56037  WYOMING      WY  Sweetwater              -              -
3138  56039  WYOMING      WY       Teton              -              -
3139  56041  WYOMING      WY       Uinta              -              -
3140  56043  WYOMING      WY    Washakie              -              -
3141  56045  WYOMING      WY      Weston              -              -

[3142 rows x 6 columns]

In [158]:
announced = sc_sh_df['Date Announced'].to_list()
effective = sc_sh_df['Effective Date'].to_list()

In [159]:
sc_sh_df['Date Announced'].value_counts()

-           484
March 23    424
March 31    352
March 22    275
March 30    268
March 20    193
March 28    187
April 3     182
April 2     159
March 25    131
March 26    130
March 27    129
March 24     86
April 1      84
March 19     58
Name: Date Announced, dtype: int64

In [160]:
sc_sh_df['Effective Date'].value_counts()

-           484
March 30    362
April 3     308
March 24    294
April 2     270
March 23    235
March 26    184
March 28    167
March 21    123
March 25    121
April 6     115
March 31    110
March 27     97
April 1      85
April 4      67
March 22     62
March 19     58
Name: Effective Date, dtype: int64

In [161]:
announced

['April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'April 3',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 27',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 'March 30',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 19',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 26',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 22',
 'March 22',
 'March 22',
 'March 30',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 1',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'April 2',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 25',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 20',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 'March 23',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 28',
 'March 22',
 'March 22',
 'March 22',
 'March 22',
 'March 22',
 'March 22',
 'March 22',
 ...]

In [162]:
def convert_dt(str_list):
    new_dates = []
    for d in str_list:
        if d == '-':
            new_dates.append(dt.date.today())
        elif d[0] == 'A':
            d = '2020-4-'+d[6:]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        elif d[0] == 'M':
            d = '2020-3-'+d[6:]
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
        else:
            new_dates.append('np.nan')
    return new_dates

In [163]:
announced_dt = convert_dt(announced)
effective_dt = convert_dt(effective)

In [164]:
announced_dt

['2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-04-03',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-27',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-19',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-26',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-30',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-20',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 '2020-03-23',
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 14),
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 ...]

In [60]:
today = dt.date.today()

print(today)

2020-05-14

In [61]:
#sc_sh_df.replace({'-': np.nan}, inplace = True)

In [62]:
#sc_sh_df.fillna(dt.date.today(), inplace = True)

In [165]:
sc_sh_df

       FIPS    STATE ST_ABBR      COUNTY Date Announced Effective Date
0      1001  ALABAMA      AL     Autauga        April 3        April 4
1      1003  ALABAMA      AL     Baldwin        April 3        April 4
2      1005  ALABAMA      AL     Barbour        April 3        April 4
3      1007  ALABAMA      AL        Bibb        April 3        April 4
4      1009  ALABAMA      AL      Blount        April 3        April 4
...     ...      ...     ...         ...            ...            ...
3137  56037  WYOMING      WY  Sweetwater              -              -
3138  56039  WYOMING      WY       Teton              -              -
3139  56041  WYOMING      WY       Uinta              -              -
3140  56043  WYOMING      WY    Washakie              -              -
3141  56045  WYOMING      WY      Weston              -              -

[3142 rows x 6 columns]

In [166]:
sc_sh_df['date_announced'] = announced_dt
sc_sh_df['date_effective'] = effective_dt

In [167]:
sc_sh_df

,FIPS,STATE,ST_ABBR,COUNTY,Date Announced,Effective Date,date_announced,date_effective
0,1001,ALABAMA,AL,Autauga,April 3,April 4,2020-04-03,2020-04-04
1,1003,ALABAMA,AL,Baldwin,April 3,April 4,2020-04-03,2020-04-04
2,1005,ALABAMA,AL,Barbour,April 3,April 4,2020-04-03,2020-04-04
3,1007,ALABAMA,AL,Bibb,April 3,April 4,2020-04-03,2020-04-04
4,1009,ALABAMA,AL,Blount,April 3,April 4,2020-04-03,2020-04-04
...,...,...,...,...,...,...,...,...
3137,56037,WYOMING,WY,Sweetwater,-,-,2020-05-14,2020-05-14
3138,56039,WYOMING,WY,Teton,-,-,2020-05-14,2020-05-14
3139,56041,WYOMING,WY,Uinta,-,-,2020-05-14,2020-05-14
3140,56043,WYOMING,WY,Washakie,-,-,2020-05-14,2020-05-14
3141,56045,WYOMING,WY,Weston,-,-,2020-05-14,2020-05-14

In [168]:
sc_sh_df.isnull().sum()

FIPS              0
STATE             0
ST_ABBR           0
COUNTY            0
Date Announced    0
Effective Date    0
date_announced    0
date_effective    0
dtype: int64

In [169]:
sh_df = sc_sh_df[['FIPS', 'STATE', 'date_announced', 'date_effective']]

In [170]:
sh_df

       FIPS    STATE date_announced date_effective
0      1001  ALABAMA     2020-04-03     2020-04-04
1      1003  ALABAMA     2020-04-03     2020-04-04
2      1005  ALABAMA     2020-04-03     2020-04-04
3      1007  ALABAMA     2020-04-03     2020-04-04
4      1009  ALABAMA     2020-04-03     2020-04-04
...     ...      ...            ...            ...
3137  56037  WYOMING     2020-05-14     2020-05-14
3138  56039  WYOMING     2020-05-14     2020-05-14
3139  56041  WYOMING     2020-05-14     2020-05-14
3140  56043  WYOMING     2020-05-14     2020-05-14
3141  56045  WYOMING     2020-05-14     2020-05-14

[3142 rows x 4 columns]

In [181]:
states = sho_df['STATE'].to_list()

In [182]:
states

['ALABAMA',
 'ALASKA',
 'ARIZONA',
 'ARKANSAS',
 'CALIFORNIA',
 'COLORADO',
 'CONNECTICUT',
 'DELAWARE',
 'DISTRICT OF COLUMBIA',
 'FLORIDA',
 'GEORGIA',
 'HAWAII ',
 'IDAHO',
 'ILLINOIS',
 'INDIANA',
 'IOWA',
 'KANSAS',
 'KENTUCKY',
 'LOUISIANA',
 'MAINE',
 'MARYLAND',
 'MASSACHUSETTS',
 'MICHIGAN',
 'MINNESOTA',
 'MISSISSIPPI',
 'MISSOURI',
 'MONTANA',
 'NEBRASKA',
 'NEVADA',
 'NEW HAMPSHIRE',
 'NEW JERSEY',
 'NEW MEXICO',
 'NEW YORK',
 'NORTH CAROLINA',
 'NORTH DAKOTA',
 'OHIO',
 'OKLAHOMA',
 'OREGON',
 'PENNSYLVANIA',
 'RHODE ISLAND',
 'SOUTH CAROLINA',
 'SOUTH DAKOTA',
 'TENNESSEE',
 'TEXAS',
 'UTAH',
 'VERMONT',
 'VIRGINIA',
 'WASHINGTON',
 'WEST VIRGINIA',
 'WISCONSIN',
 'WYOMING']

In [183]:
ban_reopen = pd.DataFrame(states)

In [70]:
bans_lifted = ['2020-04-30', '2020-04-21', '2020-05-16', 'no ban', 'no plan', 
               '2020-04-26',  '2020-05-20', '2020-05-15', '2020-06-08', '2020-04-30',
              '2020-04-30', '2020-05-31', '2020-04-30', '2020-05-30', '2020-05-05', 
               'no ban', '2020-05-03', 'no plan',  '2020-05-14', '2020-05-30',
               'no plan', '2020-05-18', '2020-05-28', '2020-05-18', '2020-04-27',
               '2020-05-03', '2020-04-26', 'no ban', '2020-05-15', '2020-05-31',  
               'no plan', '2020-05-15', '2020-05-15', '2020-05-08', 'no ban', '2020-05-29',
               'no ban', 'no plan', '2020-05-08', '2020-05-08', '2020-05-09', 
               'no ban', '2020-04-30', '2020-04-30', 'no ban', '2020-05-15', 
               '2020-06-10', '2020-05-31', '2020-05-03', '2020-05-26', 'no ban' ]

In [71]:
reopening = ['2020-04-30', '2020-04-24', '2020-05-16', '2020-05-06', '2020-05-08', 
             '2020-04-27', '2020-05-20', '2020-06-01', 'no plan', '2020-05-01',
             '2020-04-24', '2020-05-07', '2020-05-01', 'no plan', '2020-05-05',
             '2020-05-01', '2020-05-04', '2020-05-11', '2020-05-15', '2020-05-11',
             'no plan', '2020-05-18', '2020-05-07', '2020-04-27', '2020-04-27', 
             '2020-05-04', '2020-04-27', '2020-05-04', '2020-05-09', '2020-05-04',  
             'no plan', 'no plan', '2020-05-15', '2020-05-08', '2020-05-01', '2020-05-04',
             '2020-05-01', '2020-05-15', '2020-05-08', '2020-05-09', '2020-05-04',
             'no ban', '2020-04-27', '2020-05-01', '2020-05-01', '2020-04-20',
             '2020-05-15', '2020-05-05', '2020-05-04', '2020-04-29', '2020-05-01']

In [72]:
def convert_dt2(str_list):
    new_dates = []
    for d in str_list:
        if d == 'no plan':
            d = '2020-07-31'
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)
            
        elif d == 'no ban':
            new_dates.append(np.nan)
        elif d != 'no' and d != np.nan: 
            date = dt.datetime.strptime(d, '%Y-%m-%d').strftime('%Y-%m-%d')
            new_dates.append(date)

        else:
            new_dates.append('exception')
    return new_dates

In [176]:
date_ban_lift = convert_dt2(bans_lifted)
date_start_reopen = convert_dt2(reopening)

In [184]:
ban_reopen['date_ban_lift'] = date_ban_lift
ban_reopen['date_start_reopen'] = date_start_reopen

In [195]:
ban_reopen.rename(columns = {0:'STATE'}, inplace = True)

In [570]:
sh_df

       FIPS    STATE date_announced date_effective
0      1001  ALABAMA     2020-04-03     2020-04-04
1      1003  ALABAMA     2020-04-03     2020-04-04
2      1005  ALABAMA     2020-04-03     2020-04-04
3      1007  ALABAMA     2020-04-03     2020-04-04
4      1009  ALABAMA     2020-04-03     2020-04-04
...     ...      ...            ...            ...
3137  56037  WYOMING     2020-05-14     2020-05-14
3138  56039  WYOMING     2020-05-14     2020-05-14
3139  56041  WYOMING     2020-05-14     2020-05-14
3140  56043  WYOMING     2020-05-14     2020-05-14
3141  56045  WYOMING     2020-05-14     2020-05-14

[3142 rows x 4 columns]

In [571]:
ban_reopen

                      STATE date_ban_lift date_start_reopen
STATE               ALABAMA    2020-04-30        2020-04-30
1                    ALASKA    2020-04-21        2020-04-24
2                   ARIZONA    2020-05-16        2020-05-16
3                  ARKANSAS           NaN        2020-05-06
4                CALIFORNIA    2020-07-31        2020-05-08
5                  COLORADO    2020-04-26        2020-04-27
6               CONNECTICUT    2020-05-20        2020-05-20
7                  DELAWARE    2020-05-15        2020-06-01
8      DISTRICT OF COLUMBIA    2020-06-08        2020-07-31
9                   FLORIDA    2020-04-30        2020-05-01
10                  GEORGIA    2020-04-30        2020-04-24
11                  HAWAII     2020-05-31        2020-05-07
12                    IDAHO    2020-04-30        2020-05-01
13                 ILLINOIS    2020-05-30        2020-07-31
14                  INDIANA    2020-05-05        2020-05-05
15                     IOWA           NaN        2020-05-01
16                   KANSAS    2020-05-03        2020-05-04
17                 KENTUCKY    2020-07-31        2020-05-11
18                LOUISIANA    2020-05-14        2020-05-15
19                    MAINE    2020-05-30        2020-05-11
20                 MARYLAND    2020-07-31        2020-07-31
21            MASSACHUSETTS    2020-05-18        2020-05-18
22                 MICHIGAN    2020-05-28        2020-05-07
23                MINNESOTA    2020-05-18        2020-04-27
24              MISSISSIPPI    2020-04-27        2020-04-27
25                 MISSOURI    2020-05-03        2020-05-04
26                  MONTANA    2020-04-26        2020-04-27
27                 NEBRASKA           NaN        2020-05-04
28                   NEVADA    2020-05-15        2020-05-09
29            NEW HAMPSHIRE    2020-05-31        2020-05-04
30               NEW JERSEY    2020-07-31        2020-07-31
31               NEW MEXICO    2020-05-15        2020-07-31
32                 NEW YORK    2020-05-15        2020-05-15
33           NORTH CAROLINA    2020-05-08        2020-05-08
34             NORTH DAKOTA           NaN        2020-05-01
35                     OHIO    2020-05-29        2020-05-04
36                 OKLAHOMA           NaN        2020-05-01
37                   OREGON    2020-07-31        2020-05-15
38             PENNSYLVANIA    2020-05-08        2020-05-08
39             RHODE ISLAND    2020-05-08        2020-05-09
40           SOUTH CAROLINA    2020-05-09        2020-05-04
41             SOUTH DAKOTA           NaN               NaN
42                TENNESSEE    2020-04-30        2020-04-27
43                    TEXAS    2020-04-30        2020-05-01
44                     UTAH           NaN        2020-05-01
45                  VERMONT    2020-05-15        2020-04-20
46                 VIRGINIA    2020-06-10        2020-05-15
47               WASHINGTON    2020-05-31        2020-05-05
48            WEST VIRGINIA    2020-05-03        2020-05-04
49                WISCONSIN    2020-05-26        2020-04-29
50                  WYOMING           NaN        2020-05-01

In [572]:
statewide_orders = pd.merge (sh_df, ban_reopen, how = 'left', on = 'STATE')

In [573]:
statewide_orders.rename(columns = {'date_ban_lift': 'date_lift', 'date_start_reopen': 'date_reopen'}, inplace =True)

In [574]:
statewide_orders

       FIPS    STATE date_announced date_effective   date_lift date_reopen
0      1001  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
1      1003  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
2      1005  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
3      1007  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
4      1009  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
...     ...      ...            ...            ...         ...         ...
3137  56037  WYOMING     2020-05-14     2020-05-14         NaN  2020-05-01
3138  56039  WYOMING     2020-05-14     2020-05-14         NaN  2020-05-01
3139  56041  WYOMING     2020-05-14     2020-05-14         NaN  2020-05-01
3140  56043  WYOMING     2020-05-14     2020-05-14         NaN  2020-05-01
3141  56045  WYOMING     2020-05-14     2020-05-14         NaN  2020-05-01

[3142 rows x 6 columns]

In [575]:
statewide_orders.fillna(dt.date.today(), inplace = True)

In [576]:
statewide_orders

       FIPS    STATE date_announced date_effective   date_lift date_reopen
0      1001  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
1      1003  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
2      1005  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
3      1007  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
4      1009  ALABAMA     2020-04-03     2020-04-04  2020-04-30  2020-04-30
...     ...      ...            ...            ...         ...         ...
3137  56037  WYOMING     2020-05-14     2020-05-14  2020-05-15  2020-05-01
3138  56039  WYOMING     2020-05-14     2020-05-14  2020-05-15  2020-05-01
3139  56041  WYOMING     2020-05-14     2020-05-14  2020-05-15  2020-05-01
3140  56043  WYOMING     2020-05-14     2020-05-14  2020-05-15  2020-05-01
3141  56045  WYOMING     2020-05-14     2020-05-14  2020-05-15  2020-05-01

[3142 rows x 6 columns]

In [586]:
statewide_orders['date_lift'][statewide_orders['STATE'] == 'WISCONSIN'] = dt.datetime.strptime('2020-05-14', '%Y-%m-%d').strftime('%Y-%m-%d')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [587]:
statewide_orders[statewide_orders['STATE'] == 'WISCONSIN']

       FIPS      STATE date_announced date_effective   date_lift date_reopen
3047  55001  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3048  55003  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3049  55005  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3050  55007  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3051  55009  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
...     ...        ...            ...            ...         ...         ...
3114  55133  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3115  55135  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3116  55137  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3117  55139  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29
3118  55141  WISCONSIN     2020-03-24     2020-03-25  2020-05-14  2020-04-29

[72 rows x 6 columns]

In [588]:
statewide_orders['date_announced'] = pd.to_datetime(statewide_orders['date_announced'])
statewide_orders['date_effective'] = pd.to_datetime(statewide_orders['date_effective'])
statewide_orders['date_lift'] = pd.to_datetime(statewide_orders['date_lift'])
statewide_orders['date_reopen'] = pd.to_datetime(statewide_orders['date_reopen'])

In [589]:
statewide_orders['order_length'] = (statewide_orders['date_lift'] - statewide_orders['date_effective']).dt.days

In [590]:
statewide_orders['days_since_order'] = (dt.datetime.today() - statewide_orders['date_effective']).dt.days

In [591]:
statewide_orders['days_since_reopen'] = (dt.datetime.today() - statewide_orders['date_reopen']).dt.days

In [592]:
statewide_orders['ann_to_eff'] = (statewide_orders['date_effective'] - statewide_orders['date_announced']).dt.days

In [593]:
#statewide_orders.rename(columns = {'ban_days' : 'order_length'}, inplace = True)

In [594]:
statewide_orders['reopened'] = (statewide_orders['days_since_reopen']>=0).astype(int)

In [595]:
statewide_orders['days_since_lifted'] = (dt.datetime.today() - statewide_orders['date_lift']).dt.days

In [596]:
statewide_orders['lifted'] = (statewide_orders['days_since_lifted']>=0).astype(int)

In [597]:
statewide_orders['lifted'].value_counts()

1    2287
0     855
Name: lifted, dtype: int64

In [598]:
statewide_orders.to_csv('data/state_orders.csv', index = False)

In [599]:
cases_deaths_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [600]:
target_date = cases_deaths_df['date'][-1:].values
target_date = target_date[0]

In [601]:
current_target = cases_deaths_df.loc[cases_deaths_df['date'] == target_date]

In [602]:
current_target.to_csv('data/current_target.csv', index = False)

In [603]:
current_target

              date      county    state     fips  cases  deaths
138483  2020-05-13     Autauga  Alabama   1001.0     93       4
138484  2020-05-13     Baldwin  Alabama   1003.0    231       7
138485  2020-05-13     Barbour  Alabama   1005.0     69       1
138486  2020-05-13        Bibb  Alabama   1007.0     46       1
138487  2020-05-13      Blount  Alabama   1009.0     45       0
...            ...         ...      ...      ...    ...     ...
141398  2020-05-13    Sublette  Wyoming  56035.0      3       0
141399  2020-05-13  Sweetwater  Wyoming  56037.0     20       0
141400  2020-05-13       Teton  Wyoming  56039.0     99       1
141401  2020-05-13       Uinta  Wyoming  56041.0      9       0
141402  2020-05-13    Washakie  Wyoming  56043.0      7       0

[2920 rows x 6 columns]

In [604]:
jh_time= pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")

In [605]:
jh_time.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'Country_Region', 'Lat', 'Long_'], inplace = True)

In [606]:
jh_confirmed = pd.merge(sh_df, jh_time, how = 'left', on = 'FIPS' )

In [607]:
jh_confirmed.drop(columns = ['date_announced', 'date_effective', 'STATE', 'Admin2', 'Province_State', 
                                 'Combined_Key'], inplace = True)

In [608]:
jh_confirmed

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
0,1001,0,0,0,0,0,0,0,0,0,...,53,58,61,67,68,74,84,91,93,104
1,1003,0,0,0,0,0,0,0,0,0,...,189,196,205,208,216,222,224,227,231,243
2,1005,0,0,0,0,0,0,0,0,0,...,47,47,51,53,58,59,61,67,69,74
3,1007,0,0,0,0,0,0,0,0,0,...,43,43,44,44,45,46,46,46,46,46
4,1009,0,0,0,0,0,0,0,0,0,...,40,42,44,44,44,44,45,45,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0,0,0,0,0,0,0,0,0,...,18,19,19,19,19,19,20,20,20,21
3138,56039,0,0,0,0,0,0,0,0,0,...,98,98,98,98,98,98,98,98,99,99
3139,56041,0,0,0,0,0,0,0,0,0,...,8,8,8,9,9,9,9,9,9,9
3140,56043,0,0,0,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
3141,56045,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [609]:
jh_confirmed.to_csv('data/cases_time_series.csv', index = False)

In [686]:
daily_new_cases = jh_confirmed[['FIPS']]
daily_new_cases

       FIPS
0      1001
1      1003
2      1005
3      1007
4      1009
...     ...
3137  56037
3138  56039
3139  56041
3140  56043
3141  56045

[3142 rows x 1 columns]

In [692]:
for column in jh_confirmed.columns[1:]:
    if column == jh_confirmed.columns[1]:
        subtract = jh_confirmed[column]
    else:
        daily_new_cases[column] = (jh_confirmed[column] - subtract)
        subtract = jh_confirmed[column]

daily_new_cases

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,FIPS,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
0,1001,0,0,0,0,0,0,0,0,0,...,0,5,3,6,1,6,10,7,2,11
1,1003,0,0,0,0,0,0,0,0,0,...,1,7,9,3,8,6,2,3,4,12
2,1005,0,0,0,0,0,0,0,0,0,...,2,0,4,2,5,1,2,6,2,5
3,1007,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,1,0,0,0,0
4,1009,0,0,0,0,0,0,0,0,0,...,0,2,2,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
3138,56039,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3139,56041,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3140,56043,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3141,56045,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [693]:
daily_new_cases

,FIPS,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
0,1001,0,0,0,0,0,0,0,0,0,...,0,5,3,6,1,6,10,7,2,11
1,1003,0,0,0,0,0,0,0,0,0,...,1,7,9,3,8,6,2,3,4,12
2,1005,0,0,0,0,0,0,0,0,0,...,2,0,4,2,5,1,2,6,2,5
3,1007,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,1,0,0,0,0
4,1009,0,0,0,0,0,0,0,0,0,...,0,2,2,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
3138,56039,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3139,56041,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3140,56043,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3141,56045,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [694]:
daily_new_cases.to_csv('data/daily_new_cases.csv', index = False)

In [610]:
jh_time1 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [611]:
jh_time1.drop(columns = ['UID', 'iso2', 'iso3', 'code3', 'Country_Region', 'Lat', 'Long_'], inplace = True)

In [612]:
jh_deaths = pd.merge(sh_df, jh_time1, how = 'left', on = 'FIPS' )

In [613]:
jh_deaths.drop(columns = ['date_announced', 'date_effective', 'STATE', 'Admin2', 'Province_State', 
                                 'Combined_Key'], inplace = True)

In [614]:
jh_deaths.drop(columns = ['Population'], inplace = True)

In [615]:
jh_deaths

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
0,1001,0,0,0,0,0,0,0,0,0,...,3,3,3,4,4,4,4,4,4,4
1,1003,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,6,7,7,8
2,1005,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,1007,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
4,1009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3138,56039,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3139,56041,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3140,56043,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3141,56045,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [616]:
jh_deaths['5/13/20'].sum()

82979

In [617]:
jh_deaths.to_csv('data/death_time_series.csv', index = False)

In [618]:
df_fips = pd.read_csv('data/fips.csv')

In [619]:
df_fips.sort_values('FIPS', inplace = True)

In [620]:
df_fips

       FIPS    STATE ST_ABBR      COUNTY
0      1001  ALABAMA      AL     Autauga
1      1003  ALABAMA      AL     Baldwin
2      1005  ALABAMA      AL     Barbour
3      1007  ALABAMA      AL        Bibb
4      1009  ALABAMA      AL      Blount
...     ...      ...     ...         ...
3137  56037  WYOMING      WY  Sweetwater
3138  56039  WYOMING      WY       Teton
3139  56041  WYOMING      WY       Uinta
3140  56043  WYOMING      WY    Washakie
3141  56045  WYOMING      WY      Weston

[3142 rows x 4 columns]

In [621]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + dt.timedelta(n)

start_date = dt.date(2020, 3, 22)
end_date = dt.date(2020, 5, 15)
#end_date = dt.date.today()

df = df_fips

for single_date in daterange(start_date, end_date):
    path_to_file = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + single_date.strftime("%m-%d-%Y") + ".csv"
    df1 = pd.read_csv(path_to_file)
    df1 = df1[['FIPS', 'Confirmed', 'Deaths', 'Recovered', 'Active']]
    df1 = df1.rename(columns = {'Confirmed' : str(single_date) + '_confirmed', 'Deaths': str(single_date) + '_deaths', 
                                'Recovered': str(single_date) + '_recovered', 'Active': str(single_date) +'_active'})
    df = pd.merge (df, df1, how = 'left', on = 'FIPS')

In [622]:
df

,FIPS,STATE,ST_ABBR,COUNTY,2020-03-22_confirmed,2020-03-22_deaths,2020-03-22_recovered,2020-03-22_active,2020-03-23_confirmed,2020-03-23_deaths,...,2020-05-12_recovered,2020-05-12_active,2020-05-13_confirmed,2020-05-13_deaths,2020-05-13_recovered,2020-05-13_active,2020-05-14_confirmed,2020-05-14_deaths,2020-05-14_recovered,2020-05-14_active
0,1001,ALABAMA,AL,Autauga,0,0,0,0,0,0,...,0.0,87.0,93.0,4.0,0.0,89.0,104.0,4.0,0.0,100.0
1,1003,ALABAMA,AL,Baldwin,2,0,0,0,3,0,...,0.0,220.0,231.0,7.0,0.0,224.0,243.0,8.0,0.0,235.0
2,1005,ALABAMA,AL,Barbour,0,0,0,0,0,0,...,0.0,66.0,69.0,1.0,0.0,68.0,74.0,1.0,0.0,73.0
3,1007,ALABAMA,AL,Bibb,0,0,0,0,0,0,...,0.0,45.0,46.0,1.0,0.0,45.0,46.0,1.0,0.0,45.0
4,1009,ALABAMA,AL,Blount,0,0,0,0,0,0,...,0.0,45.0,45.0,0.0,0.0,45.0,45.0,0.0,0.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,56037,WYOMING,WY,Sweetwater,0,0,0,0,0,0,...,0.0,20.0,20.0,0.0,0.0,20.0,21.0,0.0,0.0,21.0
3201,56039,WYOMING,WY,Teton,2,0,0,0,2,0,...,0.0,98.0,99.0,0.0,0.0,99.0,99.0,0.0,0.0,99.0
3202,56041,WYOMING,WY,Uinta,0,0,0,0,0,0,...,0.0,9.0,9.0,0.0,0.0,9.0,9.0,0.0,0.0,9.0
3203,56043,WYOMING,WY,Washakie,0,0,0,0,0,0,...,0.0,8.0,8.0,0.0,0.0,8.0,8.0,0.0,0.0,8.0
3204,56045,WYOMING,WY,Weston,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [623]:
df.fillna(0, inplace = True)

In [624]:
df['FIPS'].value_counts()

35013    32
32007    16
49053    16
53071     2
11001     2
         ..
17085     1
55041     1
17083     1
17183     1
39155     1
Name: FIPS, Length: 3142, dtype: int64

In [625]:
df = df.groupby(by = 'FIPS', as_index =False).max()
df

,FIPS,STATE,ST_ABBR,COUNTY,2020-03-22_confirmed,2020-03-22_deaths,2020-03-22_recovered,2020-03-22_active,2020-03-23_confirmed,2020-03-23_deaths,...,2020-05-12_recovered,2020-05-12_active,2020-05-13_confirmed,2020-05-13_deaths,2020-05-13_recovered,2020-05-13_active,2020-05-14_confirmed,2020-05-14_deaths,2020-05-14_recovered,2020-05-14_active
0,1001,ALABAMA,AL,Autauga,0,0,0,0,0,0,...,0.0,87.0,93.0,4.0,0.0,89.0,104.0,4.0,0.0,100.0
1,1003,ALABAMA,AL,Baldwin,2,0,0,0,3,0,...,0.0,220.0,231.0,7.0,0.0,224.0,243.0,8.0,0.0,235.0
2,1005,ALABAMA,AL,Barbour,0,0,0,0,0,0,...,0.0,66.0,69.0,1.0,0.0,68.0,74.0,1.0,0.0,73.0
3,1007,ALABAMA,AL,Bibb,0,0,0,0,0,0,...,0.0,45.0,46.0,1.0,0.0,45.0,46.0,1.0,0.0,45.0
4,1009,ALABAMA,AL,Blount,0,0,0,0,0,0,...,0.0,45.0,45.0,0.0,0.0,45.0,45.0,0.0,0.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,WYOMING,WY,Sweetwater,0,0,0,0,0,0,...,0.0,20.0,20.0,0.0,0.0,20.0,21.0,0.0,0.0,21.0
3138,56039,WYOMING,WY,Teton,2,0,0,0,2,0,...,0.0,98.0,99.0,0.0,0.0,99.0,99.0,0.0,0.0,99.0
3139,56041,WYOMING,WY,Uinta,0,0,0,0,0,0,...,0.0,9.0,9.0,0.0,0.0,9.0,9.0,0.0,0.0,9.0
3140,56043,WYOMING,WY,Washakie,0,0,0,0,0,0,...,0.0,8.0,8.0,0.0,0.0,8.0,8.0,0.0,0.0,8.0
3141,56045,WYOMING,WY,Weston,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [626]:
df.loc[df['FIPS'] == 49053]

,FIPS,STATE,ST_ABBR,COUNTY,2020-03-22_confirmed,2020-03-22_deaths,2020-03-22_recovered,2020-03-22_active,2020-03-23_confirmed,2020-03-23_deaths,...,2020-05-12_recovered,2020-05-12_active,2020-05-13_confirmed,2020-05-13_deaths,2020-05-13_recovered,2020-05-13_active,2020-05-14_confirmed,2020-05-14_deaths,2020-05-14_recovered,2020-05-14_active
2803,49053,UTAH,UT,Washington,0,0,0,0,5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [627]:
byday_df = df

In [628]:
byday_df.to_csv('data/metadata_byday.csv', index = False)

In [635]:
byday_df

,FIPS,STATE,ST_ABBR,COUNTY,2020-03-22_confirmed,2020-03-22_deaths,2020-03-22_recovered,2020-03-22_active,2020-03-23_confirmed,2020-03-23_deaths,...,2020-05-12_recovered,2020-05-12_active,2020-05-13_confirmed,2020-05-13_deaths,2020-05-13_recovered,2020-05-13_active,2020-05-14_confirmed,2020-05-14_deaths,2020-05-14_recovered,2020-05-14_active
0,1001,ALABAMA,AL,Autauga,0,0,0,0,0,0,...,0.0,87.0,93.0,4.0,0.0,89.0,104.0,4.0,0.0,100.0
1,1003,ALABAMA,AL,Baldwin,2,0,0,0,3,0,...,0.0,220.0,231.0,7.0,0.0,224.0,243.0,8.0,0.0,235.0
2,1005,ALABAMA,AL,Barbour,0,0,0,0,0,0,...,0.0,66.0,69.0,1.0,0.0,68.0,74.0,1.0,0.0,73.0
3,1007,ALABAMA,AL,Bibb,0,0,0,0,0,0,...,0.0,45.0,46.0,1.0,0.0,45.0,46.0,1.0,0.0,45.0
4,1009,ALABAMA,AL,Blount,0,0,0,0,0,0,...,0.0,45.0,45.0,0.0,0.0,45.0,45.0,0.0,0.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,WYOMING,WY,Sweetwater,0,0,0,0,0,0,...,0.0,20.0,20.0,0.0,0.0,20.0,21.0,0.0,0.0,21.0
3138,56039,WYOMING,WY,Teton,2,0,0,0,2,0,...,0.0,98.0,99.0,0.0,0.0,99.0,99.0,0.0,0.0,99.0
3139,56041,WYOMING,WY,Uinta,0,0,0,0,0,0,...,0.0,9.0,9.0,0.0,0.0,9.0,9.0,0.0,0.0,9.0
3140,56043,WYOMING,WY,Washakie,0,0,0,0,0,0,...,0.0,8.0,8.0,0.0,0.0,8.0,8.0,0.0,0.0,8.0
3141,56045,WYOMING,WY,Weston,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [643]:
increase_bool_df = pd.DataFrame(byday_df['FIPS'])
increase_bool_df

       FIPS
0      1001
1      1003
2      1005
3      1007
4      1009
...     ...
3137  56037
3138  56039
3139  56041
3140  56043
3141  56045

[3142 rows x 1 columns]

In [645]:
increase_bool_df['increase_week_prior'] = (byday_df.iloc[:,-5] > byday_df.iloc[:,-33]).astype(int)

In [646]:
increase_bool_df['increase_day_prior'] = (byday_df.iloc[:,-5] > byday_df.iloc[:,-9]).astype(int)

In [649]:
increase_bool_df

       FIPS  increase_week_prior  increase_day_prior
0      1001                    1                   1
1      1003                    1                   1
2      1005                    1                   1
3      1007                    1                   0
4      1009                    1                   0
...     ...                  ...                 ...
3137  56037                    1                   0
3138  56039                    1                   1
3139  56041                    1                   0
3140  56043                    0                   0
3141  56045                    0                   0

[3142 rows x 3 columns]

In [ ]:
increase_bool_df['new_cases_past_week'] = (daily_new_cases.iloc[:, -8:-1].sum(axis = 1) > 0).astype(int)

In [705]:
increase_bool_df

       FIPS  increase_week_prior  increase_day_prior  new_cases_past_week
0      1001                    1                   1                    1
1      1003                    1                   1                    1
2      1005                    1                   1                    1
3      1007                    1                   0                    1
4      1009                    1                   0                    1
...     ...                  ...                 ...                  ...
3137  56037                    1                   0                    1
3138  56039                    1                   1                    1
3139  56041                    1                   0                    1
3140  56043                    0                   0                    0
3141  56045                    0                   0                    0

[3142 rows x 4 columns]

In [706]:
increase_bool_df.to_csv('data/increase_bool.csv', index = False)

In [702]:
increase_bool_df['new_cases_past_week'] = (daily_new_cases.iloc[:, -8:-1].sum(axis = 1) > 0).astype(int)

FIPS                   95465426
increase_week_prior        2172
increase_day_prior         1250
new_cases_past_week        2194
dtype: int64